<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>弹窗集合</title>
    <link href="../static/common/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="../static/common/css/public.css" rel="stylesheet" type="text/css" />
    <link href="../static/common/css/component.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- 普通弹框 -->
    <div class="f-pop" style="display: block; top: 20px; left: 20px;">
        <h5>
            <a class="f-fr icon-close" href="javascript:;" title="关闭"></a> <strong>弹框浮层-通用</strong>
        </h5>
        <div id="pop">
            <div class="popCon" >
                <div class="customTipsWrap clearfix"> <i class="icon-done f-fl"></i>
                    <div class="f-fs14 ">添加成功</div>
                </div>
            </div>
        </div>
        <div class="ftc-pop">
            <input type="submit" class="customBtn colourDarkBlue" value="确定">
            <input type="button" class="customBtn colourLightGray" value="取消"></div>
    </div>

</body>
</html>