<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>按钮</title>
<link href="../static/common/css/public.css" rel="stylesheet" type="text/css" />
<link href="../static/common/css/component.css" rel="stylesheet" type="text/css" />
</head>

<body>
<h2 style="text-align:center;">IE6,7,8不支持圆角。</h2>
<h2 style="text-align:center;">IE不支持渐变。</h2>
<div class="exampleWrap">
	<h3>按钮意义</h3>
    <a href="" title="" class="customBtn colourLightGray">次要</a>
    <p>应用范围：页面不需要过度强调的次级按钮，如：是与否按钮，引导用户肯定，则“否”用次级按钮，“是”用主要按钮</p>
    <a href="" title="" class="customBtn colourDarkBlue">主要</a>
    <p>应用范围：页面主要功能的按钮；表示肯定，确定的按钮</p>
    <a href="" title="" class="customBtn colourOrange1">警告</a>
    <p>应用范围：操作需要仔细考虑</p>
    <a href="" title="" class="customBtn colourRed1">危险</a>
    <p>应用范围：操作会带来数据丢失或其它</p>
</div>

<div class="exampleWrap">
	<h3>按钮标签</h3>
    <a href="" title="" class="customBtn colourLightGray">按钮</a> 这是A标签写的按钮
    <p>-----分隔线------</p>
    <input type="submit" class="customBtn colourLightGray" value="按钮" /> 这是input标签写的按钮
</div>

<div class="exampleWrap">
	<h3>按钮大小</h3>
    <a href="" title="" class="customBtnLarge colourLightGray">大尺寸,30高</a>　<a href="" title="" class="customBtn colourLightGray">正常尺寸,26高</a>　<a href="" title="" class="customBtnSmall colourLightGray">小尺寸,24高</a>　<a href="" title="" class="customBtnMini colourLightGray">迷你尺寸,20高</a>
</div>

<div class="exampleWrap">
	<h3>按钮配色</h3>
    <p>-----白------</p>
    <a href="" title="" class="customBtn colourWhite1">白色一</a>
    <p>-----灰------</p>
    <a href="" title="" class="customBtn colourLightGray">浅灰色</a>　<a href="" title="" class="customBtn colourLightGray1">浅灰色1</a>　<a href="" title="" class="customBtnSmall colourDarkGray"><i class="icon_concernSign marginR3"></i>关注</a>　<a href="" title="" class="customBtn colourGray">灰色</a>
    <p>-----绿------</p>
    <a href="" title="" class="customBtn colourDarkGreen">深绿色</a>　<a href="" title="" class="customBtnSmall colourGreen2"><i class="icon_cancelConcernSign marginR3"></i></a>
    <p>-----橙------</p>
    <a href="" title="" class="customBtn colourOrange1">橙色一</a>
    <p>-----红------</p>
    <a href="" title="" class="customBtn colourRed1">红色一</a>
    <p>-----黄------</p>
    <a href="" title="" class="customBtn colourYellow1">黄色一</a>
    <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
</div>
</body>
</html>
