<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>教师-资源中心-上传文件（来自文库）</title>
<link href="../static/common/css/reset.css" rel="stylesheet" type="text/css" />
<link href="../static/common/css/public.css" rel="stylesheet" type="text/css" />
<link href="../static/common/css/component.css" rel="stylesheet" type="text/css" />
<link href="../static/common/css/stu-layout.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="m-pop width330" style="display: block; top: 200px; left: 500px;">
    <div class="con-pop" >
        <!-- 弹窗顶部 -->
        <h5 class="hd">
            <a class=" f-fr upload-close" href="javascript:;" title="关闭"><i class="u-closeBtn"></i></a> <strong>微视频列表</strong>
        </h5>
        <!-- ==弹窗顶部== -->

        <!-- 弹窗内容区域 -->
        <div class="W-form f-oh">
            <ul class="mul-lst">
                <li>
                    <div class="mul-item clearfix">
                        <img src="images/userFace1.jpg" alt="" class="f-fl" width="32px" height="32px"/>
                            <h4>我是一个小姑两！</h4>
                            <h5>时长  20:30</h5>
                    </div>
                </li>
                <li><div class="mul-item clearfix"><img src="images/userFace1.jpg" alt="" class="f-fl" width="32px" height="32px"/><h4>我是一个小姑两！</h4><h5>时长 20:30</h5></div></li>
                <li><div class="mul-item clearfix"><img src="images/userFace1.jpg" alt="" class="f-fl" width="32px" height="32px"/><h4>我是一个小姑两！</h4><h5>时长 20:30</h5></div></li>
            </ul>
        </div>

        <!-- ==弹窗内容区域== -->

        <!-- 底部文件 -->
<!--         <div class="m-ftc">
            <div class="w-btn">
                <input type="submit" class="customBtn colourDarkGreen customBtnNormal f-mr10 " value="确定">    
                <input type="button" class="customBtn colourLightGray customBtnNormal" value="取消">
            </div>
        </div> -->
        <!-- ==底部文件== -->
    </div>
    
    <!-- css弹框箭头 -->
    <div class="pop-arrow">
        <span class="arrow-border"></span>
        <span class="arrow-fill"></span>
    </div>
    <!-- ==css弹框箭头== -->
</div> 
<div id="divBg" class="pageBg" style="display: block; width: 1583px; height: 1000px;"></div>
</body>
</html>
