<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>通用组件--信息提示栏</title>
<link href="../static/common/css/reset.css" rel="stylesheet" type="text/css">
<link href="../static/common/css/public.css" rel="stylesheet" type="text/css">
<link href="../static/common/css/component.css" rel="stylesheet" type="text/css">
<link href="../static/common/css/stu-layout.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="exampleWrap">
    <div class="f-pb10 f-pt10">信息提示</div>
    <!-- 信息提示-->
    <div class="m-tips clearfix">
        <div class="tipsL s-fcBlue f-fl">显示你在线学习的历史轨迹和课程知识掌握情况</div>
        <div class="tipsR s-fcGBlue f-fr"><label class="f-vam">我知道了 |</label><a href="javascript:;" title="" target="" class="u-closeBtn"></a>
        </div>
    </div>
    <!-- ==信息提示==-->
    
    <div class="f-pb10 f-pt10">警告提示，提醒注意</div>
    <!-- 警告提示，提醒注意 -->
    <div class="m-tips-warn clearfix">
        <div class="tipsL s-fcOrange f-fl">历史轨迹与年级不匹配，请检查！</div>
        <div class="tipsR s-fcGOrange f-fr"><label class="f-vam">我知道了 |</label><a href="javascript:;" title="" target="" class="u-closeBtn"></a></div>
    </div>
    <!-- ==警告提示，提醒注意== -->

    <div class="f-pb10 f-pt10">错误提示，告知结果或解决办法</div>
    <!-- 错误提示，告知结果或解决办法 -->
    <div class="m-tips-error clearfix">
        <div class="tipsL s-fcRed f-fl">课程知识设置错误！</div>
        <div class="tipsR s-fcGRed f-fr"><label class="f-vam">我知道了 |</label><a href="javascript:;" title="" target="" class="u-closeBtn"></a></div>
    </div>
    <!-- ==错误提示，告知结果或解决办法== -->
</div>
</body>
</html>
