<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>教师-资源中心-上传文件（来自文库）</title>
<link href="../static/common/css/uploader-thirdCss.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div class="m-upload" style="display: block; top: 200px; left: 500px;">
    <!-- 弹窗顶部 -->
    <h5 class="hd">
        <a class="icon-close f-fr upload-close" href="javascript:;" title="关闭"></a> <strong>弹窗标题</strong>
    </h5>
    <!-- ==弹窗顶部== -->
    <!-- 弹窗内容区域 -->
    <div class="W-form">

    </div>
    <!-- ==弹窗内容区域== -->
    <!-- 底部文件 -->
    <div class="m-ftc">
        <div class="w-btn">
            <input type="submit" class="customBtn colourDarkGreen customBtnNormal f-mr10 " value="确定">    
            <input type="button" class="customBtn colourLightGray customBtnNormal" value="取消">
        </div>
    </div>
    <!-- ==底部文件== -->
</div> 
<div id="divBg" class="pageBg" style="display: block; width: 1583px; height: 1000px;"></div>
</body>
</html>
