<!DOCTYPE html>
<html lang="ch" >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="renderer" content="webkit" />
	    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" /> 
        <title>gride1</title>
        <link rel="stylesheet" href="../../static/common/css/reset.css" /> 
        <link rel="stylesheet" href="../../static/common/css/customPublic.css" />
        <link rel="stylesheet" href="../../static/common/css/panel.css" />
        <link rel="stylesheet" href="../../static/common/css/gride.css" />
         <link rel="stylesheet" href="../../static/common/css/others.css" />
        <script src="../../static/common/js/jquery-1.6.4 .min.js"></script> 
    </head>
    <body>
 <div class="grid-truncate text-center clearfix">
     <div class="grid clearfix" data-uk-grid-margin="" data-uk-grid-match="{target:'.uk-panel'}">
         <div class="g-width-large-1-3 g-width-medium-1-2">
             <div class="panel panel-box panel-box-primary" style="min-height: 40px;">
                 <code>.g-width-medium-1-2</code>
                 <code>.g-width-large-1-3</code>
             </div>
         </div>
         <div class="g-width-large-1-3 g-hidden-medium">
             <div class="panel panel-box" style="min-height: 40px;">
                 <code>.g-hidden-medium</code>
                 <code>.g-width-large-1-3</code>
             </div>
         </div>
         <div class="g-width-large-1-3 g-width-medium-1-2">
             <div class="panel panel-box panel-box-primary" style="min-height: 40px;">
                 <code>.g-width-medium-1-2</code>
                 <code>.g-width-large-1-3</code>
             </div>
         </div>
     </div>

     <div class="grid clearfix" data-uk-grid-margin="" data-uk-grid-match="{target:'.uk-panel'}">
         <div class="g-width-medium-1-3 g-width-1-2">
             <div class="panel panel-box panel-box-secondary" style="min-height: 40px;">
                 <code>.g-width-1-2</code>
                 <code>.g-width-medium-1-3</code>
             </div>
         </div>
         <div class="g-width-medium-1-3 g-hidden-small">
             <div class="panel panel-box" style="min-height: 40px;">
                 <code>.g-hidden-small</code>
                 <code>.g-width-medium-1-3</code>
             </div>
         </div>
         <div class="g-width-medium-1-3 g-width-1-2">
             <div class="panel panel-box panel-box-secondary" style="min-height: 40px;">
                 <code>.g-width-1-2</code>
                 <code>.g-width-medium-1-3</code>
             </div>
         </div>
     </div>

     <div class="grid clearfix" data-uk-grid-margin="">
         <div class="g-width-1-1 g-visible-small">
             <div class="panel panel-box panel-box-secondary">
                 <code>.g-width-1-1 .g-visible-small</code>
             </div>
         </div>
         <div class="g-width-medium-1-1 g-visible-medium">
             <div class="panel panel-box panel-box-primary">
                 <code>.g-width-medium-1-1 .g-visible-medium</code>
             </div>
         </div>
         <div class="g-width-large-1-1 g-visible-large">
             <div class="panel panel-box panel-box">
                 <code>.g-width-large-1-1 .g-visible-large</code>
             </div>
         </div>
     </div>
 </div>
    </body>
</html>