<!DOCTYPE html>
<html lang="ch" >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="renderer" content="webkit" />
	    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" /> 
        <title>gride4</title>
        <link rel="stylesheet" href="../../static/common/css/reset.css" /> 
        <link rel="stylesheet" href="../../static/common/css/customPublic.css" />
        <link rel="stylesheet" href="../../static/common/css/panel.css" />
        <link rel="stylesheet" href="../../static/common/css/gride.css" />
         <link rel="stylesheet" href="../../static/common/css/others.css" />
        <script src="../../static/common/js/jquery-1.6.4 .min.js"></script> 
    </head>
    <body>
<div class="grid">
    <div class="g-width-1-2">
        <div class="panel panel-box">
            <code>.g-width-1-2</code>
        </div>
    </div>
    <div class="g-width-1-2">
        <div class="grid">
            <div class="g-width-1-2">
                <div class="panel panel-box panel-box-primary">
                    <code>.g-width-1-2</code>
                </div>
            </div>
            <div class="g-width-1-2">
                <div class="panel panel-box panel-box-primary">
                    <code>.g-width-1-2</code>
                </div>
            </div>
        </div>
    </div>
</div>
    </body>
</html>