<!DOCTYPE html>
<html lang="ch" >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="renderer" content="webkit" />
	    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" /> 
        <title>gride6</title>
        <link rel="stylesheet" href="../../static/common/css/reset.css" /> 
        <link rel="stylesheet" href="../../static/common/css/customPublic.css" />
        <link rel="stylesheet" href="../../static/common/css/panel.css" />
        <link rel="stylesheet" href="../../static/common/css/gride.css" />
         <link rel="stylesheet" href="../../static/common/css/others.css" />
        <script src="../../static/common/js/jquery-1.6.4 .min.js"></script> 
        <script src="../../static/common/js/grid.js"></script>
    </head>
    <body> 
        <div class="grid grid-divider grid-match">
            <div class="g-width-medium-1-3" style=" ">Lorem ipsum dolor sit amet.</div>
            <div class="g-width-medium-1-3" style=" ">Lorem ipsum dolor sit amet.</div>
            <div class="g-width-medium-1-3" style=" ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </div>
        </div>
    </body>
</html>