<!DOCTYPE html>
<html lang="zh-CN" >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="renderer" content="webkit" />
	    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" /> 
        <title>局部布局</title>
        <link href="../static/common/css/reset.css" rel="stylesheet" type="text/css" />
<link href="../../static/common/css/component.css" rel="stylesheet" type="text/css" />
<link href="../../static/common/css/public.css" rel="stylesheet" type="text/css" />
<link href="../../static/common/css/demo-layout.css" rel="stylesheet" type="text/css" />
        <script src="../../static/common/js/jquery-1.6.4 .min.js"></script> 
    </head>
    <body>
    <div class="m-layout">
    	<div class="tt">标题</div>
        <div class="ct">
        武汉六中位于汉口球场路64号，是国内外知名的百年老校，是湖北省重点中学、湖北省示范学校、湖北省最佳文明单位、全国科研兴校实验基地、全国百强特色学校、全国科学教育实验基地、全国信息技术创新与实践
        </div>
        <div class="ft">
            发布人：<b>某某某</b>
        </div>
    </div> 
    </body>
</html>