<!DOCTYPE html>
<html lang="ch" >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="renderer" content="webkit" />
	    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" /> 
        <title>panel1</title>
        <link rel="stylesheet" href="../../static/common/css/reset.css" />
        <link rel="stylesheet" href="../../static/common/css/component.css" />
        <link rel="stylesheet" href="../../static/common/css/panel.css" />
        <script src="../../static/common/js/jquery-1.6.4 .min.js"></script> 
    </head>
    <body>
    <div class="panel panel-box">
    	<div class="panel-badge badge badge-danger">Hot</div>
    	<h3 class="panel-title">Title</h3>
    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div> 
    </body>
</html>