<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>侧边导航-最基本实例</title>
    <link   href="../../static/common/css/reset.css" rel="stylesheet"> <!-- reset.css样式表 --> 
    <link   href="../../static/common/css/commponts_v2.0.css" rel="stylesheet"> <!-- 框架组件样式表 -->  
    <script type="text/javascript" src="../../static/common/js/jquery-1.6.4 .min.js"></script><!-- 基础框架js -->
    <script type="text/javascript" src="js/grid_v2.0.js"></script><!-- 组件js --> 
    </head> 
    <body>  
      <div class="c-navs">
          <ul>
              <li>
                  <a href="" class="z-cur">基本侧边栏导航选中</a>
              </li>
              <li>
                  <a href="" >基本侧边栏导航1</a>
              </li>
              <li>
                  <a href="" >基本侧边栏导航2</a>
              </li>
              <li>
                  <a href="" >基本侧边栏导航3</a>
              </li>
          </ul>
      </div>
    </body>
</html>