<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>开始使用-uif前端框架</title>
	<link rel="stylesheet" href="../css/uikit.docs.min.css">
    <link rel="stylesheet" href="../css/docs.css">
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script src="../js/uikit.js" ></script>
	<script src="../js/highlight.js" ></script>
	<script src="../js/docs.js" ></script>
</head>
<body class="tm-background" > 
<div class="tm-middle">
	<div class="uk-container uk-container-center">

		<div class="uk-grid" data-uk-grid-margin="">
			<div class="tm-sidebar uk-width-medium-1-4 uk-hidden-small">  
				<ul class="tm-nav uk-nav" data-uk-nav=""> 
                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">默认</li>
                            <li><a href="normalize.html" title="Normalize component">标准化</a></li>
                            <li ><a href="base.html" title="Base component">基础</a></li>
                            <li ><a href="print.html" title="Print component">打印</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">布局</li>
                            <li ><a href="grid.html" title="Grid component">网格</a></li>
                            <li ><a href="panel.html" title="Panel component">面板</a></li>
                            <li class="uk-active"><a href="article.html" title="Article component">文章</a></li>
                            <li><a href="comment.html" title="Comment component">评论</a></li>
                            <li><a href="utility.html" title="Utility component">效果</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">导航</li>
                            <li><a href="nav.html" title="Nav component">导航菜单</a></li>
                            <li><a href="navbar.html" title="Navbar component">导航栏</a></li>
                            <li><a href="subnav.html" title="Subnav component">子导航</a></li>
                            <li><a href="breadcrumb.html" title="Breadcrumb component">面包屑</a></li>
                            <li><a href="pagination.html" title="Pagination component">分页</a></li>
                            <li><a href="tab.html" title="Tab component">选项卡</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">元素</li>
                            <li><a href="list.html" title="List component">列表</a></li>
                            <li><a href="description-list.html" title="Description list component">描述列表</a></li>
                            <li><a href="table.html" title="Table component">表格</a></li>
                            <li><a href="form.html" title="Form component">表单</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">常用</li>
                            <li><a href="button.html" title="Button component">按钮</a></li>
                            <li><a href="icon.html" title="Icon component">图标</a></li>
                            <li><a href="close.html" title="Close component">关闭</a></li>
                            <li><a href="badge.html" title="Badge component">徽章</a></li>
                            <li><a href="alert.html" title="Alert component">提示框</a></li>
                            <li><a href="thumbnail.html" title="Thumbnail component">缩略图</a></li>
                            <li><a href="overlay.html" title="Overlay component">覆盖</a></li>
                            <li><a href="progress.html" title="Progress component">进度条</a></li>
                            <li><a href="search.html" title="Search component">搜索</a></li>
                            <li><a href="text.html" title="Text component">文本</a></li>
                            <li><a href="animation.html" title="Animation component">动画</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">JavaScript</li>
                            <li><a href="dropdown.html" title="Dropdown">下拉菜单</a></li>
                            <li><a href="modal.html" title="Modal component">模态对话框</a></li>
                            <li><a href="offcanvas.html" title="Off-canvas component">弹出式画布</a></li>
                            <li><a href="switcher.html" title="Switcher component">切换器</a></li>
                            <li><a href="toggle.html" title="Toggle component">拨动</a></li>
                            <li><a href="tooltip.html" title="Tooltip component">提示组件</a></li>
                            <li><a href="scrollspy.html" title="Scrollspy component">监听滚动</a></li>
                            <li><a href="smooth-scroll.html" title="Smooth scroll component">平滑滚动</a></li>

                        </ul>

			</div>
		 <div class="tm-main uk-width-medium-3-4">

                        <article class="uk-article">

                            <h1 class="uk-article-title">文章</h1>

                            <p class="uk-article-lead">在你的网页中创建文章。</p>

                            <h2>用法</h2>

                            <p>文章组件由文章本身、标题、元数据（例如发布时间、所属栏目、作者等）、起始段落（摘要）和间隔组成。</p>

                            <table class="uk-table">
                                <thead>
                                    <tr>
                                        <th>类</th>
                                        <th>概述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>.uk-article</code></td>
                                        <td>添加这个类来定义文章组件。通常会用在 <code>&lt;article&gt;</code> 元素中。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-article-title</code></td>
                                        <td>对一个标题添加这个类，来创建文章标题。通常会用在 <code>&lt;h1&gt;</code> 元素中。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-article-meta</code></td>
                                        <td>向包含文章元数据的段落添加这个类。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-article-lead</code></td>
                                        <td>为文章起始段落添加这个类，使其显得突出。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-article-divider</code></td>
                                        <td>对 <code>&lt;hr&gt;</code> 元素添加这个类，建立一个间隔使文章各部分分开。</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <div class="uk-article">

                                <h1 class="uk-article-title">Article title</h1>

                                <p class="uk-article-meta">Written by Super User on 12 April 2012. Posted in Blog</p>

                                <p class="uk-article-lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <hr class="uk-article-divider">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <a href="#">Read more</a>

                            </div>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">article</span> <span class="attribute">class</span>=<span class="value">"uk-article"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">h1</span> <span class="attribute">class</span>=<span class="value">"uk-article-title"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">h1</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span> <span class="attribute">class</span>=<span class="value">"uk-article-meta"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span> <span class="attribute">class</span>=<span class="value">"uk-article-lead"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
    ...
    <span class="tag">&lt;<span class="title">hr</span> <span class="attribute">class</span>=<span class="value">"uk-article-divider"</span>&gt;</span>
    ...
<span class="tag">&lt;/<span class="title">article</span>&gt;</span></code></pre>

                        </article>

                    </div>
</div>	
</body>
</html>