<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>徽章-uif前端框架</title>
	<link rel="stylesheet" href="../css/uikit.docs.min.css">
    <link rel="stylesheet" href="../css/docs.css">
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script src="../js/uikit.js" ></script>
	<script src="../js/highlight.js" ></script>
	<script src="../js/docs.js" ></script>
</head>
<body class="tm-background" >
	<nav class="tm-navbar uk-navbar uk-navbar-attached">
		<div class="uk-container uk-container-center">

			<a class="uk-navbar-brand uk-hidden-small" href="../index.html" title="UIkit">
				<img class="uk-margin uk-margin-remove" src="../images/t_logo.jpg" width="90" height="30" alt="uif"></a>

			<ul class="uk-navbar-nav uk-hidden-small">
				<li  >
					<a href="../start/index.html">开始使用</a>
				</li>
				<li class="uk-active">
					<a href="index.html">功能组件</a>
				</li>
				<li>
					<a href="../addons/index.html">附加组件</a>
				</li> 
			</ul>

			<a href="#tm-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>

			<div class="uk-navbar-brand uk-navbar-center uk-visible-small">
				<a href="index.html" title="UIkit">
					<img src="images/t_logo.jpg" width="90" height="30" alt="UIkit"></a>
			</div>

		</div>
	</nav> 
<div class="tm-middle">
	<div class="uk-container uk-container-center">

		<div class="uk-grid" data-uk-grid-margin="">
			<div class="tm-sidebar uk-width-medium-1-4 uk-hidden-small">  
				<ul class="tm-nav uk-nav" data-uk-nav=""> 
                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">默认</li>
                            <li><a href="normalize.html" title="Normalize component">标准化</a></li>
                            <li ><a href="base.html" title="Base component">基础</a></li>
                            <li ><a href="print.html" title="Print component">打印</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">布局</li>
                            <li ><a href="grid.html" title="Grid component">网格</a></li>
                            <li ><a href="panel.html" title="Panel component">面板</a></li>
                            <li ><a href="article.html" title="Article component">文章</a></li>
                            <li ><a href="comment.html" title="Comment component">评论</a></li>
                            <li><a href="utility.html" title="Utility component">效果</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">导航</li>
                            <li ><a href="nav.html" title="Nav component">导航菜单</a></li>
                            <li><a href="navbar.html" title="Navbar component">导航栏</a></li>
                            <li ><a href="subnav.html" title="Subnav component">子导航</a></li>
                            <li ><a href="breadcrumb.html" title="Breadcrumb component">面包屑</a></li>
                            <li><a href="pagination.html" title="Pagination component">分页</a></li>
                            <li><a href="tab.html" title="Tab component">选项卡</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">元素</li>
                            <li><a href="list.html" title="List component">列表</a></li>
                            <li><a href="description-list.html" title="Description list component">描述列表</a></li>
                            <li><a href="table.html" title="Table component">表格</a></li>
                            <li><a href="form.html" title="Form component">表单</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">常用</li>
                            <li><a href="button.html" title="Button component">按钮</a></li>
                            <li><a href="icon.html" title="Icon component">图标</a></li>
                            <li><a href="close.html" title="Close component">关闭</a></li>
                            <li  class="uk-active"><a href="badge.html" title="Badge component">徽章</a></li>
                            <li><a href="alert.html" title="Alert component">提示框</a></li>
                            <li><a href="thumbnail.html" title="Thumbnail component">缩略图</a></li>
                            <li><a href="overlay.html" title="Overlay component">覆盖</a></li>
                            <li><a href="progress.html" title="Progress component">进度条</a></li>
                            <li><a href="search.html" title="Search component">搜索</a></li>
                            <li><a href="text.html" title="Text component">文本</a></li>
                            <li><a href="animation.html" title="Animation component">动画</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">JavaScript</li>
                            <li><a href="dropdown.html" title="Dropdown">下拉菜单</a></li>
                            <li><a href="modal.html" title="Modal component">模态对话框</a></li>
                            <li><a href="offcanvas.html" title="Off-canvas component">弹出式画布</a></li>
                            <li><a href="switcher.html" title="Switcher component">切换器</a></li>
                            <li><a href="toggle.html" title="Toggle component">拨动</a></li>
                            <li><a href="tooltip.html" title="Tooltip component">提示组件</a></li>
                            <li><a href="scrollspy.html" title="Scrollspy component">监听滚动</a></li>
                            <li><a href="smooth-scroll.html" title="Smooth scroll component">平滑滚动</a></li>

                        </ul>

			</div>
		 
<div class="tm-main uk-width-medium-3-4">

                        <article class="uk-article">

                            <h1 class="uk-article-title">徽章</h1>

                            <p class="uk-article-lead">轻松打造美观的徽章来标记并突出你的内容。</p>

                            <h2>用法</h2>

                            <p>要创建一个徽章，只需添加 <code>.uk-badge</code> 类到一个 <code>&lt;div&gt;</code> 或 <code>&lt;span&gt;</code> 元素。</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <p>
                                <span class="uk-badge">Info</span>
                                <span class="uk-badge">New</span>
                                <span class="uk-badge">Free</span>
                            </p>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-badge"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>样式修饰</h2>

                            <p>要以不同的风格显示徽章，只需添加修饰的类到 <code>.uk-badge</code> 类。这些修饰的类可以相互结合使用。</p>

                            <h3>通知</h3>

                            <p>添加 <code>.uk-badge-notification</code> 类来表示一个通知，通常情况下为数字使用它。</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <p>
                                <span class="uk-badge uk-badge-notification">1</span>
                                <span class="uk-badge uk-badge-notification">2</span>
                                <span class="uk-badge uk-badge-notification">3</span>
                                <span class="uk-badge uk-badge-notification">10</span>
                                <span class="uk-badge uk-badge-notification">100</span>
                            </p>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-badge uk-badge-notification"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h3>颜色修饰</h3>

                            <p>添加 <code>.uk-badge-success</code>， <code>.uk-badge-warning</code> 或 <code>.uk-badge-danger</code> 类来附加颜色。</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <p>
                                <span class="uk-badge uk-badge-success">Success</span>
                                <span class="uk-badge uk-badge-warning">Warning</span>
                                <span class="uk-badge uk-badge-danger">Danger</span>
                            </p>

                            <p>
                                <span class="uk-badge uk-badge-notification uk-badge-success">1</span>
                                <span class="uk-badge uk-badge-notification uk-badge-success">10</span>
                                <span class="uk-badge uk-badge-notification uk-badge-warning">1</span>
                                <span class="uk-badge uk-badge-notification uk-badge-warning">10</span>
                                <span class="uk-badge uk-badge-notification uk-badge-danger">1</span>
                                <span class="uk-badge uk-badge-notification uk-badge-danger">10</span>
                            </p>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-badge uk-badge-success"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-badge uk-badge-warning"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-badge uk-badge-danger"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                        </article>

                    </div>





                </div>
            </div>
</div>	
</body>
</html>