<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>徽章-uif前端框架</title>
	<link rel="stylesheet" href="../css/uikit.docs.min.css">
    <link rel="stylesheet" href="../css/docs.css">
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script src="../js/uikit.js" ></script>
	<script src="../js/highlight.js" ></script>
	<script src="../js/docs.js" ></script>
</head>
<body class="tm-background" >
	 
<div class="tm-middle">
	<div class="uk-container  ">

		<div class="uk-grid" data-uk-grid-margin="">
			 
		 
<div class="tm-main  ">

                        <article class="uk-article">

                            <h1 class="uk-article-title">徽章</h1>

                            <p class="uk-article-lead">轻松打造美观的徽章来标记并突出你的内容。</p>

                            <h2>用法</h2>

                            <p>要创建一个徽章，只需添加 <code>.uk-badge</code> 类到一个 <code>&lt;div&gt;</code> 或 <code>&lt;span&gt;</code> 元素。</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <p>
                                <span class="uk-badge">Info</span>
                                <span class="uk-badge">New</span>
                                <span class="uk-badge">Free</span>
                            </p>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-badge"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>样式修饰</h2>

                            <p>要以不同的风格显示徽章，只需添加修饰的类到 <code>.uk-badge</code> 类。这些修饰的类可以相互结合使用。</p>

                            <h3>通知</h3>

                            <p>添加 <code>.uk-badge-notification</code> 类来表示一个通知，通常情况下为数字使用它。</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <p>
                                <span class="uk-badge uk-badge-notification">1</span>
                                <span class="uk-badge uk-badge-notification">2</span>
                                <span class="uk-badge uk-badge-notification">3</span>
                                <span class="uk-badge uk-badge-notification">10</span>
                                <span class="uk-badge uk-badge-notification">100</span>
                            </p>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-badge uk-badge-notification"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h3>颜色修饰</h3>

                            <p>添加 <code>.uk-badge-success</code>， <code>.uk-badge-warning</code> 或 <code>.uk-badge-danger</code> 类来附加颜色。</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <p>
                                <span class="uk-badge uk-badge-success">Success</span>
                                <span class="uk-badge uk-badge-warning">Warning</span>
                                <span class="uk-badge uk-badge-danger">Danger</span>
                            </p>

                            <p>
                                <span class="uk-badge uk-badge-notification uk-badge-success">1</span>
                                <span class="uk-badge uk-badge-notification uk-badge-success">10</span>
                                <span class="uk-badge uk-badge-notification uk-badge-warning">1</span>
                                <span class="uk-badge uk-badge-notification uk-badge-warning">10</span>
                                <span class="uk-badge uk-badge-notification uk-badge-danger">1</span>
                                <span class="uk-badge uk-badge-notification uk-badge-danger">10</span>
                            </p>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-badge uk-badge-success"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-badge uk-badge-warning"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-badge uk-badge-danger"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                        </article>

                    </div>





                </div>
            </div>
</div>	
</body>
</html>