<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>开始使用-uif前端框架</title>
	<link rel="stylesheet" href="../css/uikit.docs.min.css">
    <link rel="stylesheet" href="../css/docs.css">
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script src="../js/uikit.js" ></script>
	<script src="../js/highlight.js" ></script>
	<script src="../js/docs.js" ></script>
</head>
<body class="tm-background" >
	 
<div class="tm-middle">
	<div class="uk-container  ">

		<div class="uk-grid" data-uk-grid-margin="">
			 
<div class="tm-main  ">

                        <article class="uk-article">

                            <h1 class="uk-article-title">关闭</h1>

                            <p class="uk-article-lead">定义一个可以与不同组件进行组合样式的关闭按钮。</p>

                            <h2>用法</h2>

                            <p>若要应用这个组件，添加 <code>.uk-close</code> 类到一个 <code>&lt;a&gt;</code> 或 <code>&lt;button&gt;</code> 元素。</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <a href="#" class="uk-close"></a>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">""</span> <span class="attribute">class</span>=<span class="value">"uk-close"</span>&gt;</span><span class="tag">&lt;/<span class="title">a</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>样式修饰</h2>

                            <p>添加 <code>.uk-close-alt</code> 类使用另一种样式来替代默认的关闭按钮。</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <a href="#" class="uk-close uk-close-alt"></a>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">""</span> <span class="attribute">class</span>=<span class="value">"uk-close uk-close-alt"</span>&gt;</span><span class="tag">&lt;/<span class="title">a</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>关闭提示框</h2>

                            <p>这是一个如何在 <a href="alert.html">提示框组件</a> 中使用该组件的例子。</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <div class="uk-alert uk-alert-success" data-uk-alert="">
                                <a href="#" class="uk-alert-close uk-close"></a>
                                <p>This is a alert using an a element as close button.</p>
                            </div>

                            <hr class="uk-article-divider">

                            <h2>关闭模态对话框</h2>

                            <p>这是一个如何在 <a href="modal.html">模态对话框组件</a> 中使用该组件的例子。</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <p>
                                <button class="uk-button" data-uk-modal="{target:'#modal'}">Button</button>
                            </p>

                            <div id="modal" class="uk-modal">
                                <div class="uk-modal-dialog uk-modal-dialog-frameless">
                                    <button type="button" class="uk-modal-close uk-close uk-close-alt"></button>
                                    <img src="http://placekitten.com/600/400" alt="">
                                </div>
                            </div>

                        </article>

                    </div>




                </div>
            </div>
</div>	
</body>
</html>