<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>开始使用-多多前端框架v2.0</title>
	<link rel="stylesheet" href="../css/uikit.docs.min.css">
	<link rel="stylesheet" href="../css/start/index.css">
	<script src="../js/jquery-1.11.1.min.js" ></script>
</head>
<body class="tm-background" > 
<div class="tm-middle" style="width:266px;"> 
		 
			<div class="tm-sidebar"> 
					<ul class="tm-nav uk-nav" data-uk-nav=""> 
                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">默认</li>
                            <li ><a href="base.html" title="Base component" target="main_content">HTML基础模版</a></li>
                            <li><a href="normalize.html" title="Normalize component" target="main_content">重置样式</a></li>
                            <li><a href="naming.html" title="Naming rule component" target="main_content">命名规范</a></li>
                            <!-- <li><a href="utility.html" title="Utility component" target="main_content">效果</a></li> -->

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">网页布局</li>
                            <li ><a href="grid.html" title="Grid component" target="main_content">整体布局</a></li>
                            <li ><a href="panel.html" title="Panel component" target="main_content">局部布局</a></li>
                            <li ><a href="article.html" title="Article component" target="main_content">文字排版</a></li>
                            

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">导航</li>
                            <li ><a href="navSide.html" title="Nav component" target="main_content">侧边导航菜单</a></li>
                            <li><a href="navbar.html" title="Navbar component" target="main_content">导航栏(合并)</a></li>
                            <li ><a href="subnav.html" title="Subnav component" target="main_content">子导航(合并)</a></li>
                            <li><a href="tab.html" title="Tab component" target="main_content">选项卡</a></li>
                            <li ><a href="breadcrumb.html" title="Breadcrumb component" target="main_content">面包屑</a></li>
                            <li><a href="pagination.html" title="Pagination component" target="main_content">分页</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">常用元素</li>
                            <li><a href="icon.html" title="Icon component" target="main_content">图标库</a></li>
                            <li><a href="button.html" title="Button component" target="main_content">按钮</a></li>
                            <li><a href="dropdown.html" title="Dropdown" target="main_content">下拉菜单</a></li>
                            <li><a href="modal.html" title="Modal component" target="main_content">模态对话框</a></li>
                            <li><a href="badge.html" title="Badge component" target="main_content">徽章</a></li>
                            <li><a href="alert.html" title="Alert component" target="main_content">提示/结果(合并)</a></li>
                            <li><a href="tooltip.html" title="Tooltip component" target="main_content">提示组件(合并)</a></li>
                            <li><a href="thumbnail.html" title="Thumbnail component" target="main_content">缩略图</a></li>
                            <li><a href="overlay.html" title="Overlay component" target="main_content">覆盖</a></li>
                            <li><a href="progress.html" title="Progress component" target="main_content">进度条</a></li>
                            <li><a href="search.html" title="Search component" target="main_content">输入框提示</a></li>
                            <!-- <li><a href="text.html" title="Text component" target="main_content">文本</a></li> -->

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">常用元素-列表</li>
                            <li><a href="list.html" title="List component" target="main_content">列表</a></li>
                            <li><a href="description-list.html" title="Description list component" target="main_content">描述列表</a></li>
                            <li><a href="description-list.html" title="Description list component" target="main_content">图文列表</a></li>
                            <li><a href="description-list.html" title="Description list component" target="main_content">相册列表</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">常用元素-图表</li>
                            <li><a href="table.html" title="Table component" target="main_content">表格</a></li>
                            <li><a href="form.html" title="Form component" target="main_content">表单</a></li>
                            <li><a href="form.html" title="Form component" target="main_content">图形</a></li>
                            
                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">css3动画</li>
                            <li><a href="animation.html" title="Animation component" target="main_content">动画</a></li>


                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">需JS组件</li>
                            <li><a href="close.html" title="Close component" target="main_content">关闭（合并）</a></li>
                            <li><a href="toggle.html" title="Toggle component" target="main_content">拨动（合并）</a></li>
                            
                            
                            <li><a href="offcanvas.html" title="Off-canvas component" target="main_content">弹出式画布</a></li>
                            <li><a href="switcher.html" title="Switcher component" target="main_content">切换器</a></li>
                            
                            
                            <li class="uk-active"><a href="scrollspy.html" title="Scrollspy component" target="main_content">监听滚动</a></li>
                            <li><a href="smooth-scroll.html" title="Smooth scroll component" target="main_content">平滑滚动</a></li>
                            <li><a href="smooth-scroll.html" title="Smooth scroll component" target="main_content">检测浏览器及窗口变化</a></li>


                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">打印、导出</li>
                            <li ><a href="print.html" title="Print component" target="main_content">基本样式</a></li>
                            <li ><a href="print.html" title="Print component" target="main_content">图表</a></li>

                        </ul>
			</div>  
 
</div>	
</body>
</html>