<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>列表-多多前端框架v2.0</title>
	<link rel="stylesheet" href="../css/uikit.docs.min.css">
    <link rel="stylesheet" href="../css/docs.css">
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script src="../js/uikit.js" ></script>
	<script src="../js/highlight.js" ></script>
	<script src="../js/docs.js" ></script>
</head>
<body class="tm-background" >
	 
<div class="tm-middle">
	<div class="uk-container">

		<div class="uk-grid" data-uk-grid-margin="">
			 
		 
              <div class="tm-main">

                        <article class="uk-article">

                            <h1 class="uk-article-title">列表</h1>

                            <p class="uk-article-lead">轻松创建具有不同风格的漂亮列表。</p>

                            <h2 id="usage"><a href="#usage" class="uk-link-reset">用法</a></h2>

                            <p>要应用这个组件，添加 <code>.uk-list</code> 类到一个无序或有序列表即可。这时列表将不显示任何间距及列表样式。</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <ul class="uk-list">
                                <li>List item 1</li>
                                <li>List item 2</li>
                                <li>List item 3</li>
                            </ul>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"uk-list"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span>...<span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span>...<span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span>...<span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2 id="modifiers"><a href="#modifiers" class="uk-link-reset">修饰</a></h2>

                            <p>要为列表显示不同的样式，只需为 <code>.uk-list</code> 添加修饰类。列表组件的修饰类 <em>不能</em> 相互组合使用。</p>

                            <h3>列表线</h3>

                            <p>添加 <code>.uk-list-line</code> 类用线条分隔列表项。</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <ul class="uk-list uk-list-line uk-width-medium-1-3">
                                <li>List item 1</li>
                                <li>List item 2</li>
                                <li>List item 3</li>
                            </ul>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"uk-list uk-list-line"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h3>列表条纹</h3>

                            <p>添加 <code>.uk-list-striped</code> 类为列表应用斑马条纹。</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <ul class="uk-list uk-list-striped uk-width-medium-1-3">
                                <li>List item 1</li>
                                <li>List item 2</li>
                                <li>List item 3</li>
                            </ul>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"uk-list uk-list-striped"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h3>列表间距</h3>

                            <p>添加 <code>.uk-list-space</code> 类增加列表项之间的间距。</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <ul class="uk-list uk-list-space uk-width-medium-1-3">
                                <li>This modifier may be useful for for list items with multiple lines of text.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</li>
                            </ul>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"uk-list uk-list-space"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></code></pre>

                        </article>

                    </div>





                </div>
            </div>
</div>	
</body>
</html>