<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>开始使用-多多前端框架v2.0</title>
	<link rel="stylesheet" href="../css/uikit.docs.min.css">
    <link rel="stylesheet" href="../css/docs.css">
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script src="../js/uikit.js" ></script>
	<script src="../js/highlight.js" ></script>
	<script src="../js/docs.js" ></script>
</head>
<body class="tm-background" >
	 
<div class="tm-middle">
	<div class="uk-container  ">

		<div class="uk-grid" data-uk-grid-margin="">
			 
			<div class="tm-main  ">

                        <article class="uk-article">

                            <h1 class="uk-article-title">命名规则</h1>
                            <p>命名规则根据之前小组会议上确定，在以前使用的dodoedu版本上，有些许修改；<br/>具体如下，你还可以<a href="../doc/css命名说明.doc">下载doc文档</a><br/><code>如果本网页与文档有出入，以文档为准</code></p>
                            <br/><br/>                            
                            <h2>布局（.g-）</h2>
                            <div class="uk-overflow-container">
                                <table class="uk-table uk-text-nowrap" style="width: 600px">
                                    <thead>
                                        <tr>
                                            <th><strong>语义</strong></th>
                                            <th><strong>命名</strong></th>
                                            <th><strong>简写</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><code>文档</code></td>
                                            <td>head</td>
                                            <td>hd</td>
                                        </tr>
                                         <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td><code>头部</code></td>
                                            <td>head</td>
                                            <td>hd</td>
                                        </tr>
                                          <tr>
                                               <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                          </tr>
                                        <tr>
                                            <td><code>主体</code></td>
                                            <td>body</td>
                                            <td>bd</td>
                                        </tr>
                                        <tr>
                                            <td><code>主体容器</code></td>
                                            <td>bodyc</td>
                                            <td>bdc</td>
                                        </tr>
                                           <tr>
                                             <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                         <tr>
                                            <td><code>尾部</code></td>
                                            <td>foot</td>
                                            <td>ft</td>
                                        </tr>
                                        <tr>
                                            <td><code>尾部容器</code></td>
                                            <td>footc</td>
                                            <td>ftc</td>
                                        </tr>
                                           <tr>
                                             <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                         <tr>
                                            <td><code>主栏</code></td>
                                            <td>main</td>
                                            <td>mn</td>
                                        </tr>
                                         <tr>
                                            <td><code>主栏子容器</code></td>
                                            <td>main content</td>
                                            <td>mnc</td>
                                        </tr>
                                           <tr>
                                             <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                         <tr>
                                            <td><code>侧栏</code></td>
                                            <td>side</td>
                                            <td>sd</td>
                                        </tr>
                                         <tr>
                                            <td><code>侧栏子容器</code></td>
                                            <td>side content</td>
                                            <td>sdc</td>
                                        </tr>
                                           <tr>
                                             <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                           <tr>
                                            <td><code>盒容器</code></td>
                                            <td>wrap</td>
                                            <td>wrap</td>
                                        </tr>
                                        <tr>
                                            <td><code>行容器</code></td>
                                            <td>row</td>
                                            <td>row</td>
                                        </tr>
                                           <tr>
                                             <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                         <tr>
                                            <td><code>一显示屏内容容器</code></td>
                                            <td>section</td>
                                            <td>section</td>
                                        </tr>
                                           <tr>
                                             <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        <br/><br/>
                        <h2>模块（.m-）<code><br/>注意：这里列出常用的模块命名规则，具体到项目可以自由发挥，但是必须保证名字与模块内容相匹配</code></h2>
                        <div class="uk-overflow-container">
                            <table class="uk-table uk-text-nowrap" style="width: 600px">
                                <thead>
                                    <tr>
                                        <th> <strong>语义</strong>
                                        </th>
                                        <th> <strong>命名</strong>
                                        </th>
                                        <th>
                                            <strong>简写</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <code>导航</code>
                                        </td>
                                        <td>nav</td>
                                        <td>nav</td>
                                    </tr>
                                     <tr>
                                        <td>
                                            <code>子导航</code>
                                        </td>
                                        <td>subnav</td>
                                        <td>subnav</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                      <tr>
                                        <td>
                                            <code>面包屑</code>
                                        </td>
                                        <td>crumb</td>
                                        <td>crm</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                       <tr>
                                        <td>
                                            <code>菜单</code>
                                        </td>
                                        <td>menu</td>
                                        <td>menu</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                        <tr>
                                        <td>
                                            <code>选项卡</code>
                                        </td>
                                        <td>tab</td>
                                        <td>tab</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                     <tr>
                                         <td>
                                             <code>标题区</code>
                                         </td>
                                         <td>head/title</td>
                                         <td>hd/tit</td>
                                     </tr>
                                     <tr>
                                         <td>
                                             <code>内容区</code>
                                         </td>
                                         <td>body/content</td>
                                         <td>bd/ct</td>
                                     </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                     <tr>
                                         <td>
                                             <code>列表</code>
                                         </td>
                                         <td>list</td>
                                         <td>lst</td>
                                     </tr>
                                     <tr>
                                         <td>
                                             <code>表格</code>
                                         </td>
                                         <td>table</td>
                                         <td>table</td>
                                     </tr>
                                      <tr>
                                         <td>
                                             <code>表单</code>
                                         </td>
                                         <td>form</td>
                                         <td>form</td>
                                     </tr> 
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                       <tr>
                                         <td>
                                             <code>标题</code>
                                         </td>
                                         <td>title</td>
                                         <td>tit</td>
                                     </tr> 
                                      <tr>
                                         <td>
                                             <code>热点</code>
                                         </td>
                                         <td>hot</td>
                                         <td>hot</td>
                                     </tr> 
                                      <tr>
                                         <td>
                                             <code>登录</code>
                                         </td>
                                         <td>login</td>
                                         <td>login</td>
                                     </tr> 
                                      <tr>
                                         <td>
                                             <code>标志</code>
                                         </td>
                                         <td>logo</td>
                                         <td>logo</td>
                                     </tr> 
                                      <tr>
                                         <td>
                                             <code>广告</code>
                                         </td>
                                         <td>advertise</td>
                                         <td>ad</td>
                                     </tr> 
                                      <tr>
                                         <td>
                                             <code>搜索</code>
                                         </td>
                                         <td>search</td>
                                         <td>sch</td>
                                     </tr> 
                                      <tr>
                                         <td>
                                             <code>幻灯</code>
                                         </td>
                                         <td>slide</td>
                                         <td>sld</td>
                                     </tr> 
                                      <tr>
                                         <td>
                                             <code>提示</code>
                                         </td>
                                         <td>tips</td>
                                         <td>tips</td>
                                     </tr> 
                                      <tr>
                                         <td>
                                             <code>帮助</code>
                                         </td>
                                         <td>help</td>
                                         <td>help</td>
                                     </tr> 
                                     <tr>
                                         <td>
                                             <code>新闻</code>
                                         </td>
                                         <td>news</td>
                                         <td>news</td>
                                     </tr> 
                                     <tr>
                                         <td>
                                             <code>下载</code>
                                         </td>
                                         <td>download</td>
                                         <td>dwn</td>
                                     </tr> 
                                     <tr>
                                         <td>
                                             <code>注册</code>
                                         </td>
                                         <td>regist</td>
                                         <td>reg</td>
                                     </tr>
                                      <tr>
                                         <td>
                                             <code>投票</code>
                                         </td>
                                         <td>vote</td>
                                         <td>vote</td>
                                     </tr>
                                      <tr>
                                         <td>
                                             <code>版权</code>
                                         </td>
                                         <td>copyright</td>
                                         <td>cprt</td>
                                     </tr>
                                      <tr>
                                         <td>
                                             <code>结果</code>
                                         </td>
                                         <td>result</td>
                                         <td>rst</td>
                                     </tr> 
                                      <tr>
                                         <td>
                                             <code>按钮</code>
                                         </td>
                                         <td>button</td>
                                         <td>btn</td>
                                     </tr> 
                                      <tr>
                                         <td>
                                             <code>输入</code>
                                         </td>
                                         <td>input</td>
                                         <td>ipt</td>
                                     </tr> 
                                      <tr>
                                         <td>
                                             <code>弹窗</code>
                                         </td>
                                         <td>pops</td>
                                         <td>pops</td>
                                     </tr> 

                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                         <br/><br/>
                        <h2>组件（.c-）<code><br/>注意：这里列出组件库里面的组件名字，缺少，以后陆续增加</code></h2>
                        <div class="uk-overflow-container">
                            <table class="uk-table uk-text-nowrap" style="width: 600px">
                                <thead>
                                    <tr>
                                        <th> <strong>语义</strong>
                                        </th>
                                        <th> <strong>命名</strong>
                                        </th>
                                        <th>
                                            <strong>简写</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <code>侧边导航菜单</code>
                                        </td>
                                        <td>nav-side</td>
                                        <td>navs</td>
                                    </tr>
                                     <tr>
                                        <td>
                                            <code>导航栏</code>
                                        </td>
                                        <td>nav</td>
                                        <td>nav</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                              <br/><br/>
                        <h2>功能（.f-）<code><br/>注意：这里的样式都已经写到base.css中，可以点击重置样式查看</code></h2>
                        <div class="uk-overflow-container">
                            <table class="uk-table uk-text-nowrap" style="width: 600px">
                                <thead>
                                    <tr>
                                        <th> <strong>语义</strong>
                                        </th>
                                        <th> <strong>命名</strong>
                                        </th>
                                        <th>
                                            <strong>简写</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <code>浮动清除</code>
                                        </td>
                                        <td>clearboth</td>
                                        <td>cb</td>
                                    </tr>
                                     <tr>
                                        <td>
                                            <code>向左浮动</code>
                                        </td>
                                        <td>floatleft</td>
                                        <td>fl</td>
                                    </tr>
                                     <tr>
                                        <td>
                                            <code>向右浮动</code>
                                        </td>
                                        <td>floatright</td>
                                        <td>fr</td>
                                    </tr>
                                     <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                     <tr>
                                        <td>
                                            <code>隐藏</code>
                                        </td>
                                        <td>hide</td>
                                        <td>hide</td>
                                    </tr>
                                     <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>内联块级</code>
                                        </td>
                                        <td>inlineblock</td>
                                        <td>ib</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>块级</code>
                                        </td>
                                        <td>block</td>
                                        <td>block</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>完全消失</code>
                                        </td>
                                        <td>displaynone</td>
                                        <td>dn</td>
                                    </tr>
                                     <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>文本居中</code>
                                        </td>
                                        <td>textaligncenter</td>
                                        <td>tac</td>
                                    </tr>
                                     <tr>
                                        <td>
                                            <code>文本居右</code>
                                        </td>
                                        <td>textalignright</td>
                                        <td>tar</td>
                                    </tr>
                                     <tr>
                                        <td>
                                            <code>文本居左</code>
                                        </td>
                                        <td>textalignleft</td>
                                        <td>tal</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>垂直居中</code>
                                        </td>
                                        <td>verticalalignmiddle</td>
                                        <td>vam</td>
                                    </tr>
                                     <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                     <tr>
                                        <td>
                                        <code>文本溢出添加省略号</code><br/>（用的时候需设定宽度）
                                        </td>
                                        <td>text-overflow</td>
                                        <td>tof</td>
                                    </tr>
                                     <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                     <tr>
                                        <td>
                                            <code>溢出隐藏</code>
                                        </td>
                                        <td>overflowhidden</td>
                                        <td>oh</td>
                                    </tr>
                                     <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>字体大小</code>
                                            <br/>（字体设置的时候需要fs后面加字号的大小<br/>如<code>f-fs12:表示12px大小字体，</code><br/>现在支持12,14,16,18,22,24号字体）
                                        </td>
                                        <td>fontsize</td>
                                        <td>fs</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>字体粗细</code><br/>字体粗体 
                                        </td>
                                        <td>fontweight</td>
                                        <td>fw</td>
                                    </tr>
                                     <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                     <tr>
                                        <td>
                                            <code>外边距(上，右，下，左)</code><br/>现在支持3,5,10,15,20
                                        </td>
                                        <td>margintop,marginright,<br/>marginbottom,marginleft</td>
                                        <td>mt,mr,mb,ml</td>
                                    </tr>
                                      <tr>
                                        <td>
                                            <code>内填充(上，右，下，左)</code><br/>现在支持3,5,10,15,20
                                        </td>
                                        <td>paddingtop,paddingright,<br/>paddingbottom,paddingleft</td>
                                        <td>pt,pr,pb,pl</td>
                                    </tr>
                                     <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                      <tr>
                                        <td>
                                            <code>chrome 下字体过小的问题</code><br/>限制网页字体小于12
                                        </td>
                                        <td>-webkit-text-size-adjust</td>
                                        <td>webkit-adjust</td>
                                    </tr>
                                     <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>

                       <br/><br/>
                        <h2>皮肤（.s-）</h2>
                        <div class="uk-overflow-container">
                            <table class="uk-table uk-text-nowrap" style="width: 600px">
                                <thead>
                                    <tr>
                                        <th> <strong>语义</strong>
                                        </th>
                                        <th> <strong>命名</strong>
                                        </th>
                                        <th>
                                            <strong>简写</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <code>字体颜色</code>
                                        </td>
                                        <td>fontcolor</td>
                                        <td>fc <br/><code>灰色字-fc-gray,深灰色-fc-DGray,浅灰色-fc-LGray</code>  </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr> 
                                    <tr>
                                        <td>
                                            <code>背景</code>
                                        </td>
                                        <td>background</td>
                                        <td>bg</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>背景颜色</code>
                                        </td>
                                        <td>backgroundcolor</td>
                                        <td>bgc</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>背景图片</code>
                                        </td>
                                        <td>backgroundimage</td>
                                        <td>bgi</td>
                                    </tr>
                                     <tr>
                                        <td>
                                            <code>背景定位</code>
                                        </td>
                                        <td>backgroundposition</td>
                                        <td>bgp</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr> 
                                    <tr>
                                        <td>
                                            <code>边框颜色</code>
                                        </td>
                                        <td>bordercolor</td>
                                        <td>bdc</td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        <br/><br/>
                        <h2>链接（.a-）</h2>
                        <div class="uk-overflow-container">
                            <table class="uk-table uk-text-nowrap" style="width: 600px">
                                <thead>
                                    <tr>
                                        <th> <strong>语义</strong>
                                        </th>
                                        <th> <strong>命名</strong>
                                        </th>
                                        <th>
                                            <strong>简写</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <code>二种链接色</code>
                                        </td>
                                        <td>secondarylink</td>
                                        <td>secl</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>三种链接色</code>
                                        </td>
                                        <td>three-stagelink</td>
                                        <td>thrl</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>四种链接色</code>
                                        </td>
                                        <td>four-stagelink</td>
                                        <td>fourl</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <code>换肤链接色</code>
                                        </td>
                                        <td>change-skin-stagelink</td>
                                        <td>csl</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr> 
                                      <tr>
                                        <td>
                                            <code>具体某颜色的链接色</code>
                                        </td>
                                        <td>graylink(正常灰),darkGraylink(深灰色),lightGraylink(浅灰色)</td>
                                        <td>grayl,DGrayl,LGrayl</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                         <br/><br/>
                        <h2>状态（.z-）</h2>
                        <div class="uk-overflow-container">
                            <table class="uk-table uk-text-nowrap" style="width: 600px">
                                <thead>
                                    <tr>
                                        <th> <strong>语义</strong>
                                        </th>
                                        <th> <strong>命名</strong>
                                        </th>
                                        <th>
                                            <strong>简写</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <code>选中</code>
                                        </td>
                                        <td>selected</td>
                                        <td>sel</td>
                                    </tr>
                                     <tr>
                                        <td>
                                            <code>当前</code>
                                        </td>
                                        <td>current</td>
                                        <td>cur</td>
                                    </tr>
                                     <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr> 
                                     <tr>
                                        <td>
                                            <code>显示</code>
                                        </td>
                                        <td>show</td>
                                        <td>show</td>
                                    </tr>
                                     <tr>
                                        <td>
                                            <code>隐藏</code>
                                        </td>
                                        <td>hide</td>
                                        <td>hide</td>
                                    </tr>
                                     <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr> 
                                    <tr>
                                        <td>
                                            <code>打开</code>
                                        </td>
                                        <td>open</td>
                                        <td>open</td>
                                    </tr>
                                      <tr>
                                        <td>
                                            <code>关闭</code>
                                        </td>
                                        <td>close</td>
                                        <td>close</td>
                                    </tr>
                                     <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr> 
                                      <tr>
                                        <td>
                                            <code>出错</code>
                                        </td>
                                        <td>error</td>
                                        <td>error</td>
                                    </tr>
                                     <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr> 
                                    <tr>
                                        <td>
                                            <code>不可用</code>
                                        </td>
                                        <td>enable</td>
                                        <td>enable</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        </article>

                    </div>
		</div>

	</div>
</div>	

</body>
</html>