<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>开始使用-多多前端框架v2.0</title>
	<link rel="stylesheet" href="../css/uikit.docs.min.css">
    <link rel="stylesheet" href="../css/docs.css">
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script src="../js/uikit.js" ></script>
	<script src="../js/highlight.js" ></script>
	<script src="../js/docs.js" ></script>
</head>
<body class="tm-background" >
	 
<div class="tm-middle">
	<div class="uk-container  ">

		<div class="uk-grid" data-uk-grid-margin="">
			 
			<div class="tm-main  ">

                        <article class="uk-article">

                            <h1 class="uk-article-title">标准化</h1>

                            <p class="uk-article-lead">减少HTML元素在不同浏览器下默认样式的不一致。</p>

                            <p>这个组件基于由 Nicolas Gallagher 建立的 <a href="http://necolas.github.com/normalize.css" target="_blank" rel="nofollow">Normalize.css</a> 项目。它采用了与传统的CSS重置不同的方法，它只针对需要进行标准化的样式进行标准化，从而避免了冗余的代码。标准化组件总是被优先加载，所以你不必担心你的项目在浏览器中出现冲突。</p>

                            <hr class="uk-article-divider">

                            <h2>修改</h2>

                            <p>在 UIF 中，我们对 Normalize.css 做了一些修改和改进。</p> 
                            
                            <h2>增加 常用功能</h2>
                               <ul>
                                <li>
                                    <code>f-cb</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;清理浮动
                                    <br/>                                
                                    <br/>                                
                                </li>
                                <li>
                                    <code>f-hide</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;隐藏
                                    <br/>                                
                                    <br/>                                
                                </li>
                                <li>
                                    <code>f-fl</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;左边浮动
                                    <br/>                                
                                    <br/>                                
                                </li>
                                <li>
                                    <code>f-fr</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;右边浮动
                                    <br/>                                
                                    <br/>                                
                                </li>
                                <li>
                                    <code>f-tof</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;单行文字溢出时出现省略号，需设定宽度
                                    <br/>                                
                                    <br/>                                
                                </li>
                                <li>
                                    <code>f-linear</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;简单的渐变
                                    <br/>                                
                                    <br/>                                
                                </li>
                                <li>
                                    <code>f-rmb</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;人民币符号
                                    <br/>                                
                                    <br/>                                
                                </li>
                                <li>
                                    <code>f-webkit-adjust</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;chrome 下字体过小的问题
                                    <br/>                                
                                    <br/>                                
                                </li>
                                 <li>
                                    <code>f-pt3,f-pt5,f-pt10,f-pt15,f-pt20,</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;内上边距
                                    <br/>                                
                                    <br/>                                
                                </li>
                                <li>
                                    <code>f-pb3,f-pb5,f-pb10,f-pb15,f-pb20,</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;内下边距
                                    <br/>                                
                                    <br/>                                
                                </li>
                                <li>
                                    <code>f-pl3,f-pl5,f-pl10,f-pl15,f-pl20,</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;内左边距
                                    <br/>                                
                                    <br/>                                
                                </li>
                                <li>
                                    <code>f-pr3,f-pr5,f-pr10,f-pr15,f-pr20,</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;内右边距
                                    <br/>                                
                                    <br/>                                
                                </li>
                                 <li>
                                    <code>f-mt3,f-mt5,f-mt10,f-mt15,f-mt20,</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;外上边距
                                    <br/>                                
                                    <br/>                                
                                </li>
                                <li>
                                    <code>f-mb3,f-mb5,f-mb10,f-mb15,f-mb20,</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;外下边距
                                    <br/>                                
                                    <br/>                                
                                </li>
                                <li>
                                    <code>f-ml3,f-ml5,f-ml10,f-ml15,f-ml20,</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;外左边距
                                    <br/>                                
                                    <br/>                                
                                </li>
                                <li>
                                    <code>f-mr3,f-mr5,f-mr10,f-mr15,f-mr20,</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;外右边距
                                    <br/>                                
                                    <br/>                                
                                </li>
                                   <li>
                                    <code>f-fs12,f-fs14,f-fs16,f-fs18,f-fs22,f-fs24</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;字体大小
                                    <br/>                                
                                    <br/>                                
                                </li>
                                  <li>
                                    <code>f-fw</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;字体加粗
                                    <br/>                                
                                    <br/>                                
                                </li>
                                   <li>
                                    <code>f-fwNor</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;字体粗细正常
                                    <br/>                                
                                    <br/>                                
                                </li>
                                 <li>
                                    <code>f-vam</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;字体垂直居中
                                    <br/>                                
                                    <br/>                                
                                </li>
                                 <li>
                                    <code>f-vat</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;字体垂直居上
                                    <br/>                                
                                    <br/>                                
                                </li>
                                 <li>
                                    <code>f-vab</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;字体垂直居下
                                    <br/>                                
                                    <br/>                                
                                </li>
                                 <li>
                                    <code>f-tar</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;字体居右
                                    <br/>                                
                                    <br/>                                
                                </li>
                                  <li>
                                    <code>f-tal</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;字体居左
                                    <br/>                                
                                    <br/>                                
                                </li>
                                  <li>
                                    <code>f-tc</code>
                                    &nbsp;&nbsp;&nbsp;&nbsp;字体横向居中
                                    <br/>                                
                                    <br/>                                
                                </li>
                                
                            </ul>
                        </article>

                    </div>
		</div>

	</div>
</div>	
</body>
</html>