<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>开始使用-uif前端框架</title>
	<link rel="stylesheet" href="../css/uikit.docs.min.css">
    <link rel="stylesheet" href="../css/docs.css">
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script src="../js/uikit.js" ></script>
	<script src="../js/highlight.js" ></script>
	<script src="../js/docs.js" ></script>
</head>
<body class="tm-background" >
	 
<div class="tm-middle">
	<div class="uk-container uk-container-center">

		<div class="uk-grid" data-uk-grid-margin="">
			<div class="tm-sidebar uk-width-medium-1-4 uk-hidden-small">  
				<ul class="tm-nav uk-nav" data-uk-nav=""> 
                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">默认</li>
                            <li  class="uk-active"><a href="normalize.html" title="Normalize component">标准化</a></li>
                            <li><a href="base.html" title="Base component">基础</a></li>
                            <li><a href="print.html" title="Print component">打印</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">布局</li>
                            <li><a href="grid.html" title="Grid component">网格</a></li>
                            <li><a href="panel.html" title="Panel component">面板</a></li>
                            <li><a href="article.html" title="Article component">文章</a></li>
                            <li><a href="comment.html" title="Comment component">评论</a></li>
                            <li><a href="utility.html" title="Utility component">效果</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">导航</li>
                            <li><a href="nav.html" title="Nav component">导航菜单</a></li>
                            <li><a href="navbar.html" title="Navbar component">导航栏</a></li>
                            <li><a href="subnav.html" title="Subnav component">子导航</a></li>
                            <li><a href="breadcrumb.html" title="Breadcrumb component">面包屑</a></li>
                            <li><a href="pagination.html" title="Pagination component">分页</a></li>
                            <li><a href="tab.html" title="Tab component">选项卡</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">元素</li>
                            <li><a href="list.html" title="List component">列表</a></li>
                            <li><a href="description-list.html" title="Description list component">描述列表</a></li>
                            <li><a href="table.html" title="Table component">表格</a></li>
                            <li><a href="form.html" title="Form component">表单</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">常用</li>
                            <li><a href="button.html" title="Button component">按钮</a></li>
                            <li><a href="icon.html" title="Icon component">图标</a></li>
                            <li><a href="close.html" title="Close component">关闭</a></li>
                            <li><a href="badge.html" title="Badge component">徽章</a></li>
                            <li><a href="alert.html" title="Alert component">提示框</a></li>
                            <li><a href="thumbnail.html" title="Thumbnail component">缩略图</a></li>
                            <li><a href="overlay.html" title="Overlay component">覆盖</a></li>
                            <li><a href="progress.html" title="Progress component">进度条</a></li>
                            <li><a href="search.html" title="Search component">搜索</a></li>
                            <li><a href="text.html" title="Text component">文本</a></li>
                            <li><a href="animation.html" title="Animation component">动画</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">JavaScript</li>
                            <li><a href="dropdown.html" title="Dropdown">下拉菜单</a></li>
                            <li><a href="modal.html" title="Modal component">模态对话框</a></li>
                            <li><a href="offcanvas.html" title="Off-canvas component">弹出式画布</a></li>
                            <li><a href="switcher.html" title="Switcher component">切换器</a></li>
                            <li><a href="toggle.html" title="Toggle component">拨动</a></li>
                            <li><a href="tooltip.html" title="Tooltip component">提示组件</a></li>
                            <li><a href="scrollspy.html" title="Scrollspy component">监听滚动</a></li>
                            <li><a href="smooth-scroll.html" title="Smooth scroll component">平滑滚动</a></li>

                        </ul>

			</div>
			<div class="tm-main uk-width-medium-3-4">

                        <article class="uk-article">

                            <h1 class="uk-article-title">标准化</h1>

                            <p class="uk-article-lead">减少HTML元素在不同浏览器下默认样式的不一致。</p>

                            <p>这个组件基于由 Nicolas Gallagher 建立的 <a href="http://necolas.github.com/normalize.css" target="_blank" rel="nofollow">Normalize.css</a> 项目。它采用了与传统的CSS重置不同的方法，它只针对需要进行标准化的样式进行标准化，从而避免了冗余的代码。标准化组件总是被优先加载，所以你不必担心你的项目在浏览器中出现冲突。</p>

                            <hr class="uk-article-divider">

                            <h2>修改</h2>

                            <p>在 UIF 中，我们对 Normalize.css 做了一些修改和改进。</p>

                            <ul>
                                <li>将 <code>&lt;mark&gt;</code> 和 <code>&lt;h1&gt;</code> 作为默认元素放入 <a href="base.html">基础组件</a> 中</li>
                                <li>修改 <code>&lt;fieldset&gt;</code> 默认值为 0</li>
                                <li>为 <code>radio</code> 和 <code>checkbox</code> 元素添加对应的指针</li>
                                <li>设置表单控件框大小为 <code>border-box</code></li>
                                <li>修改 <code>:disabled</code> 选择器</li>
                                <li>为 <code>&lt;code&gt;</code>、 <code>&lt;kbd&gt;</code>、 <code>&lt;pre&gt;</code> 和 <code>&lt;samp&gt;</code> 带来更好的 <code>font-family</code></li>
                                <li>移除占位符在火狐浏览器中的透明属性</li>
                            </ul>

                        </article>

                    </div>
		</div>

	</div>
</div>	
</body>
</html>