<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>开始使用-uif前端框架</title>
	<link rel="stylesheet" href="../css/uikit.docs.min.css">
    <link rel="stylesheet" href="../css/docs.css">
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script src="../js/uikit.js" ></script>
	<script src="../js/highlight.js" ></script>
	<script src="../js/docs.js" ></script>
</head>
<body class="tm-background" >
	<nav class="tm-navbar uk-navbar uk-navbar-attached">
		<div class="uk-container uk-container-center">

			<a class="uk-navbar-brand uk-hidden-small" href="../index.html" title="UIkit">
				<img class="uk-margin uk-margin-remove" src="../images/t_logo.jpg" width="90" height="30" alt="uif"></a>

			<ul class="uk-navbar-nav uk-hidden-small">
				<li  >
					<a href="../start/index.html">开始使用</a>
				</li>
				<li class="uk-active">
					<a href="index.html">功能组件</a>
				</li>
				<li>
					<a href="../addons/index.html">附加组件</a>
				</li> 
			</ul>

			<a href="#tm-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>

			<div class="uk-navbar-brand uk-navbar-center uk-visible-small">
				<a href="index.html" title="UIkit">
					<img src="images/t_logo.jpg" width="90" height="30" alt="UIkit"></a>
			</div>

		</div>
	</nav> 
<div class="tm-middle">
	<div class="uk-container uk-container-center">

		<div class="uk-grid" data-uk-grid-margin="">
			<div class="tm-sidebar uk-width-medium-1-4 uk-hidden-small">  
				<ul class="tm-nav uk-nav" data-uk-nav=""> 
                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">默认</li>
                            <li><a href="normalize.html" title="Normalize component">标准化</a></li>
                            <li ><a href="base.html" title="Base component">基础</a></li>
                            <li ><a href="print.html" title="Print component">打印</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">布局</li>
                            <li ><a href="grid.html" title="Grid component">网格</a></li>
                            <li ><a href="panel.html" title="Panel component">面板</a></li>
                            <li ><a href="article.html" title="Article component">文章</a></li>
                            <li ><a href="comment.html" title="Comment component">评论</a></li>
                            <li><a href="utility.html" title="Utility component">效果</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">导航</li>
                            <li ><a href="nav.html" title="Nav component">导航菜单</a></li>
                            <li><a href="navbar.html" title="Navbar component">导航栏</a></li>
                            <li ><a href="subnav.html" title="Subnav component">子导航</a></li>
                            <li ><a href="breadcrumb.html" title="Breadcrumb component">面包屑</a></li>
                            <li class="uk-active"><a href="pagination.html" title="Pagination component">分页</a></li>
                            <li><a href="tab.html" title="Tab component">选项卡</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">元素</li>
                            <li><a href="list.html" title="List component">列表</a></li>
                            <li><a href="description-list.html" title="Description list component">描述列表</a></li>
                            <li><a href="table.html" title="Table component">表格</a></li>
                            <li><a href="form.html" title="Form component">表单</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">常用</li>
                            <li><a href="button.html" title="Button component">按钮</a></li>
                            <li><a href="icon.html" title="Icon component">图标</a></li>
                            <li><a href="close.html" title="Close component">关闭</a></li>
                            <li><a href="badge.html" title="Badge component">徽章</a></li>
                            <li><a href="alert.html" title="Alert component">提示框</a></li>
                            <li><a href="thumbnail.html" title="Thumbnail component">缩略图</a></li>
                            <li><a href="overlay.html" title="Overlay component">覆盖</a></li>
                            <li><a href="progress.html" title="Progress component">进度条</a></li>
                            <li><a href="search.html" title="Search component">搜索</a></li>
                            <li><a href="text.html" title="Text component">文本</a></li>
                            <li><a href="animation.html" title="Animation component">动画</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">JavaScript</li>
                            <li><a href="dropdown.html" title="Dropdown">下拉菜单</a></li>
                            <li><a href="modal.html" title="Modal component">模态对话框</a></li>
                            <li><a href="offcanvas.html" title="Off-canvas component">弹出式画布</a></li>
                            <li><a href="switcher.html" title="Switcher component">切换器</a></li>
                            <li><a href="toggle.html" title="Toggle component">拨动</a></li>
                            <li><a href="tooltip.html" title="Tooltip component">提示组件</a></li>
                            <li><a href="scrollspy.html" title="Scrollspy component">监听滚动</a></li>
                            <li><a href="smooth-scroll.html" title="Smooth scroll component">平滑滚动</a></li>

                        </ul>

			</div>
		 <div class="tm-main uk-width-medium-3-4">

                        <article class="uk-article">

                            <h1 class="uk-article-title">分页</h1>

                            <p class="uk-article-lead">轻松创建一个美观的分页导航来浏览网页。</p>

                            <h2>用法</h2>

                            <p>分页组件由类似按钮风格的链接并排排列组成。</p>

                            <table class="uk-table">
                                <thead>
                                    <tr>
                                        <th>类</th>
                                        <th>概述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>.uk-pagination</code></td>
                                        <td>将这个类添加到一个 <code>&lt;ul&gt;</code> 元素，定义分页导航组件。使用 <code>&lt;a&gt;</code> 元素作为分页导航列表中的项目。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-active</code></td>
                                        <td>将这个类添加到一个列表项，对其应用选中的状态，使用 <code>&lt;span&gt;</code> 替代 <code>&lt;a&gt;</code> 元素。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-disabled</code></td>
                                        <td>将这个类添加到一个列表项，对其应用禁用状态，使用 <code>&lt;span&gt;</code> 替代 <code>&lt;a&gt;</code> 元素。</td>
                                    </tr>
                                </tbody>
                            </table>

                            <p>要应用一个无样式的省略号，只需使用 <code>&lt;span&gt;</code> 来替代 <code>&lt;a&gt;</code> 元素。</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <ul class="uk-pagination">
                                <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                                <li class="uk-active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><span>...</span></li>
                                <li><a href="#">20</a></li>
                                <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
                            </ul>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"uk-pagination"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">""</span>&gt;</span>...<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"uk-active"</span>&gt;</span><span class="tag">&lt;<span class="title">span</span>&gt;</span>...<span class="tag">&lt;/<span class="title">span</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"uk-disabled"</span>&gt;</span><span class="tag">&lt;<span class="title">span</span>&gt;</span>...<span class="tag">&lt;/<span class="title">span</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">span</span>&gt;</span>...<span class="tag">&lt;/<span class="title">span</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>对齐修饰类</h2>

                            <p>向页码添加 <code>.uk-pagination-left</code> 或 <code>.uk-pagination-right</code> 类使其向左或者向右对齐。</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <div class="uk-grid" data-uk-grid-margin="">
                                <div class="uk-width-medium-1-2">

                                    <ul class="uk-pagination uk-pagination-left">
                                        <li><a href="#">1</a></li>
                                        <li><span>...</span></li>
                                        <li><a href="#">8</a></li>
                                        <li><a href="#">9</a></li>
                                        <li class="uk-active"><span>10</span></li>
                                        <li><a href="#">11</a></li>
                                        <li><a href="#">12</a></li>
                                        <li><span>...</span></li>
                                        <li><a href="#">20</a></li>
                                    </ul>

                                </div>
                                <div class="uk-width-medium-1-2">

                                    <ul class="uk-pagination uk-pagination-right">
                                        <li><a href="#">1</a></li>
                                        <li><span>...</span></li>
                                        <li><a href="#">8</a></li>
                                        <li><a href="#">9</a></li>
                                        <li class="uk-active"><span>10</span></li>
                                        <li><a href="#">11</a></li>
                                        <li><a href="#">12</a></li>
                                        <li><span>...</span></li>
                                        <li><a href="#">20</a></li>
                                    </ul>

                                </div>
                            </div>

                            <h3 class="tm-article-subtitle">Code.</h3>

                            <div class="uk-grid" data-uk-grid-margin="">
                                <div class="uk-width-medium-1-2">
<pre><code class="xml"><span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"uk-pagination uk-pagination-left"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span>...<span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></code></pre>
                                </div>
                                <div class="uk-width-medium-1-2">
<pre><code class="xml"><span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"uk-pagination uk-pagination-right"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span>...<span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></code></pre>
                                </div>
                            </div>

                            <hr class="uk-article-divider">

                            <h2>上一页与下一页</h2>

                            <p>创建一个简单上一页和下一页分页导航是非常容易的。只需添加 <code>.uk-pagination-previous</code> 或 <code>.uk-pagination-next</code> 类到一个 <code>&lt;li&gt;</code> 元素，其向左或者向右对齐。</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <ul class="uk-pagination">
                                <li class="uk-pagination-previous"><a href="#"><i class="uk-icon-angle-double-left"></i> 上一页</a></li>
                                <li class="uk-pagination-next"><a href="#">下一页 <i class="uk-icon-angle-double-right"></i></a></li>
                            </ul>

                            <h4 class="tm-article-subtitle">Code.</h4>

<pre><code class="xml"><span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"uk-pagination-previous"</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">""</span>&gt;</span>...<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"uk-pagination-next"</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">""</span>&gt;</span>...<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>带图标的分页导航</h2>

                            <p>使用 <a href="icon.html">图标组件</a> 中的图标增强分页导航效果。添加一个 <code>.uk-icon-*</code> 类到分页导航链接里的 <code>&lt;i&gt;</code> 或 <code>&lt;span&gt;</code> 元素中。</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <ul class="uk-pagination">
                                <li><a href="#"><i class="uk-icon-angle-double-left"></i></a></li>
                                <li class="uk-active"><span><i class="uk-icon-angle-double-left"></i></span></li>
                                <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                                <li><span>...</span></li>
                                <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
                                <li class="uk-active"><span><i class="uk-icon-angle-double-right"></i></span></li>
                                <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
                            </ul>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">""</span>&gt;</span><span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"uk-icon-angle-double-left"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span><span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">""</span>&gt;</span><span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"uk-icon-angle-double-right"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span><span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span></code></pre>

                        </article>

                    </div>
</div>	
</body>
</html>