<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>开始使用-多多前端框架v2.0</title>
	<link rel="stylesheet" href="../css/uikit.docs.min.css">
    <link rel="stylesheet" href="../css/docs.css">
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script src="../js/uikit.js" ></script>
	<script src="../js/highlight.js" ></script>
	<script src="../js/docs.js" ></script>
</head>
<body class="tm-background" >
	 
<div class="tm-middle">
	<div class="uk-container  ">

		<div class="uk-grid" data-uk-grid-margin="">
			 
		 <div class="tm-main ">

                        <article class="uk-article">

                            <h1 class="uk-article-title">分页</h1>

                            <p class="uk-article-lead">轻松创建一个美观的分页导航来浏览网页。</p>

                            <h2>用法</h2>

                            <p>分页组件由类似按钮风格的链接并排排列组成。</p>

                            <table class="uk-table">
                                <thead>
                                    <tr>
                                        <th>类</th>
                                        <th>概述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>.uk-pagination</code></td>
                                        <td>将这个类添加到一个 <code>&lt;ul&gt;</code> 元素，定义分页导航组件。使用 <code>&lt;a&gt;</code> 元素作为分页导航列表中的项目。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-active</code></td>
                                        <td>将这个类添加到一个列表项，对其应用选中的状态，使用 <code>&lt;span&gt;</code> 替代 <code>&lt;a&gt;</code> 元素。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-disabled</code></td>
                                        <td>将这个类添加到一个列表项，对其应用禁用状态，使用 <code>&lt;span&gt;</code> 替代 <code>&lt;a&gt;</code> 元素。</td>
                                    </tr>
                                </tbody>
                            </table>

                            <p>要应用一个无样式的省略号，只需使用 <code>&lt;span&gt;</code> 来替代 <code>&lt;a&gt;</code> 元素。</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <ul class="uk-pagination">
                                <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                                <li class="uk-active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><span>...</span></li>
                                <li><a href="#">20</a></li>
                                <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
                            </ul>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"uk-pagination"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">""</span>&gt;</span>...<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"uk-active"</span>&gt;</span><span class="tag">&lt;<span class="title">span</span>&gt;</span>...<span class="tag">&lt;/<span class="title">span</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"uk-disabled"</span>&gt;</span><span class="tag">&lt;<span class="title">span</span>&gt;</span>...<span class="tag">&lt;/<span class="title">span</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">span</span>&gt;</span>...<span class="tag">&lt;/<span class="title">span</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>对齐修饰类</h2>

                            <p>向页码添加 <code>.uk-pagination-left</code> 或 <code>.uk-pagination-right</code> 类使其向左或者向右对齐。</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <div class="uk-grid" data-uk-grid-margin="">
                                <div class="uk-width-medium-1-2">

                                    <ul class="uk-pagination uk-pagination-left">
                                        <li><a href="#">1</a></li>
                                        <li><span>...</span></li>
                                        <li><a href="#">8</a></li>
                                        <li><a href="#">9</a></li>
                                        <li class="uk-active"><span>10</span></li>
                                        <li><a href="#">11</a></li>
                                        <li><a href="#">12</a></li>
                                        <li><span>...</span></li>
                                        <li><a href="#">20</a></li>
                                    </ul>

                                </div>
                                <div class="uk-width-medium-1-2">

                                    <ul class="uk-pagination uk-pagination-right">
                                        <li><a href="#">1</a></li>
                                        <li><span>...</span></li>
                                        <li><a href="#">8</a></li>
                                        <li><a href="#">9</a></li>
                                        <li class="uk-active"><span>10</span></li>
                                        <li><a href="#">11</a></li>
                                        <li><a href="#">12</a></li>
                                        <li><span>...</span></li>
                                        <li><a href="#">20</a></li>
                                    </ul>

                                </div>
                            </div>

                            <h3 class="tm-article-subtitle">Code.</h3>

                            <div class="uk-grid" data-uk-grid-margin="">
                                <div class="uk-width-medium-1-2">
<pre><code class="xml"><span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"uk-pagination uk-pagination-left"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span>...<span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></code></pre>
                                </div>
                                <div class="uk-width-medium-1-2">
<pre><code class="xml"><span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"uk-pagination uk-pagination-right"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span>...<span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></code></pre>
                                </div>
                            </div>

                            <hr class="uk-article-divider">

                            <h2>上一页与下一页</h2>

                            <p>创建一个简单上一页和下一页分页导航是非常容易的。只需添加 <code>.uk-pagination-previous</code> 或 <code>.uk-pagination-next</code> 类到一个 <code>&lt;li&gt;</code> 元素，其向左或者向右对齐。</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <ul class="uk-pagination">
                                <li class="uk-pagination-previous"><a href="#"><i class="uk-icon-angle-double-left"></i> 上一页</a></li>
                                <li class="uk-pagination-next"><a href="#">下一页 <i class="uk-icon-angle-double-right"></i></a></li>
                            </ul>

                            <h4 class="tm-article-subtitle">Code.</h4>

<pre><code class="xml"><span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"uk-pagination-previous"</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">""</span>&gt;</span>...<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"uk-pagination-next"</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">""</span>&gt;</span>...<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>带图标的分页导航</h2>

                            <p>使用 <a href="icon.html">图标组件</a> 中的图标增强分页导航效果。添加一个 <code>.uk-icon-*</code> 类到分页导航链接里的 <code>&lt;i&gt;</code> 或 <code>&lt;span&gt;</code> 元素中。</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <ul class="uk-pagination">
                                <li><a href="#"><i class="uk-icon-angle-double-left"></i></a></li>
                                <li class="uk-active"><span><i class="uk-icon-angle-double-left"></i></span></li>
                                <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                                <li><span>...</span></li>
                                <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
                                <li class="uk-active"><span><i class="uk-icon-angle-double-right"></i></span></li>
                                <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
                            </ul>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">""</span>&gt;</span><span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"uk-icon-angle-double-left"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span><span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">""</span>&gt;</span><span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"uk-icon-angle-double-right"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span><span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span></code></pre>

                        </article>

                    </div>
</div>	
</body>
</html>