<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>进度条-uif前端框架</title>
	<link rel="stylesheet" href="../css/uikit.docs.min.css">
    <link rel="stylesheet" href="../css/docs.css">
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script src="../js/uikit.js" ></script>
	<script src="../js/highlight.js" ></script>
	<script src="../js/docs.js" ></script>
</head>
<body class="tm-background" >
	<nav class="tm-navbar uk-navbar uk-navbar-attached">
		<div class="uk-container uk-container-center">

			<a class="uk-navbar-brand uk-hidden-small" href="../index.html" title="UIkit">
				<img class="uk-margin uk-margin-remove" src="../images/t_logo.jpg" width="90" height="30" alt="uif"></a>

			<ul class="uk-navbar-nav uk-hidden-small">
				<li  >
					<a href="../start/index.html">开始使用</a>
				</li>
				<li class="uk-active">
					<a href="index.html">功能组件</a>
				</li>
				<li>
					<a href="../addons/index.html">附加组件</a>
				</li> 
			</ul>

			<a href="#tm-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>

			<div class="uk-navbar-brand uk-navbar-center uk-visible-small">
				<a href="index.html" title="UIkit">
					<img src="images/t_logo.jpg" width="90" height="30" alt="UIkit"></a>
			</div>

		</div>
	</nav> 
<div class="tm-middle">
	<div class="uk-container uk-container-center">

		<div class="uk-grid" data-uk-grid-margin="">
			<div class="tm-sidebar uk-width-medium-1-4 uk-hidden-small">  
				<ul class="tm-nav uk-nav" data-uk-nav=""> 
                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">默认</li>
                            <li><a href="normalize.html" title="Normalize component">标准化</a></li>
                            <li ><a href="base.html" title="Base component">基础</a></li>
                            <li ><a href="print.html" title="Print component">打印</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">布局</li>
                            <li ><a href="grid.html" title="Grid component">网格</a></li>
                            <li ><a href="panel.html" title="Panel component">面板</a></li>
                            <li ><a href="article.html" title="Article component">文章</a></li>
                            <li ><a href="comment.html" title="Comment component">评论</a></li>
                            <li><a href="utility.html" title="Utility component">效果</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">导航</li>
                            <li ><a href="nav.html" title="Nav component">导航菜单</a></li>
                            <li><a href="navbar.html" title="Navbar component">导航栏</a></li>
                            <li ><a href="subnav.html" title="Subnav component">子导航</a></li>
                            <li ><a href="breadcrumb.html" title="Breadcrumb component">面包屑</a></li>
                            <li><a href="pagination.html" title="Pagination component">分页</a></li>
                            <li><a href="tab.html" title="Tab component">选项卡</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">元素</li>
                            <li><a href="list.html" title="List component">列表</a></li>
                            <li><a href="description-list.html" title="Description list component">描述列表</a></li>
                            <li><a href="table.html" title="Table component">表格</a></li>
                            <li><a href="form.html" title="Form component">表单</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">常用</li>
                            <li><a href="button.html" title="Button component">按钮</a></li>
                            <li><a href="icon.html" title="Icon component">图标</a></li>
                            <li><a href="close.html" title="Close component">关闭</a></li>
                            <li><a href="badge.html" title="Badge component">徽章</a></li>
                            <li><a href="alert.html" title="Alert component">提示框</a></li>
                            <li><a href="thumbnail.html" title="Thumbnail component">缩略图</a></li>
                            <li><a href="overlay.html" title="Overlay component">覆盖</a></li>
                            <li  class="uk-active"><a href="progress.html" title="Progress component">进度条</a></li>
                            <li><a href="search.html" title="Search component">搜索</a></li>
                            <li><a href="text.html" title="Text component">文本</a></li>
                            <li><a href="animation.html" title="Animation component">动画</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">JavaScript</li>
                            <li><a href="dropdown.html" title="Dropdown">下拉菜单</a></li>
                            <li><a href="modal.html" title="Modal component">模态对话框</a></li>
                            <li><a href="offcanvas.html" title="Off-canvas component">弹出式画布</a></li>
                            <li><a href="switcher.html" title="Switcher component">切换器</a></li>
                            <li><a href="toggle.html" title="Toggle component">拨动</a></li>
                            <li><a href="tooltip.html" title="Tooltip component">提示组件</a></li>
                            <li><a href="scrollspy.html" title="Scrollspy component">监听滚动</a></li>
                            <li><a href="smooth-scroll.html" title="Smooth scroll component">平滑滚动</a></li>

                        </ul>

			</div>
<div class="tm-main uk-width-medium-3-4">

                        <article class="uk-article">

                            <h1 class="uk-article-title">Progress</h1>

                            <p class="uk-article-lead">Defines different styles for progress bars.</p>

                            <h2>用法</h2>
                            <p>The progress bar consists of a background bar and the progress bar itself, indicating the increase.</p>
                            <table class="uk-table">
                                <thead>
                                    <tr>
                                        <th>Class</th>
                                        <th>概述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>.uk-progress</code></td>
                                        <td>This class is used on the parent container to create the background of the progress bar.</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-progress-bar</code></td>
                                        <td>This class needs to be added to the child element to create the actual progress bar.</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <div class="uk-progress">
                                <div class="uk-progress-bar" style="width: 40%;">40%</div>
                            </div>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress-bar"</span> <span class="attribute">style</span>=<span class="value">"width: 40%;"</span>&gt;</span>40%<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>Size modifiers</h2>

                            <p>Add the <code>.uk-progress-mini</code> or <code>.uk-progress-small</code> class to change the size of the bar.</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <div class="uk-progress uk-progress-mini">
                                <div class="uk-progress-bar" style="width: 50%;"></div>
                            </div>

                            <div class="uk-progress uk-progress-small">
                                <div class="uk-progress-bar" style="width: 55%;"></div>
                            </div>

                            <div class="uk-progress">
                                <div class="uk-progress-bar" style="width: 60%;"></div>
                            </div>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress uk-progress-mini"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress uk-progress-small"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>Color modifiers</h2>

                            <p>To apply different colors to your progress bars, just add the <code>.uk-progress-success</code>, <code>.uk-progress-warning</code> or <code>.uk-progress-danger</code> class.</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <div class="uk-progress uk-progress-success">
                                <div class="uk-progress-bar" style="width: 75%;"></div>
                            </div>

                            <div class="uk-progress uk-progress-warning">
                                <div class="uk-progress-bar" style="width: 55%;"></div>
                            </div>

                            <div class="uk-progress uk-progress-danger">
                                <div class="uk-progress-bar" style="width: 35%;"></div>
                            </div>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress uk-progress-success"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress uk-progress-warning"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress uk-progress-danger"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h3>Striped</h3>

                            <p>To create a striped progress bar, use the <code>.striped</code> class.</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <div class="uk-progress uk-progress-striped">
                                <div class="uk-progress-bar" style="width: 65%;"></div>
                            </div>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress uk-progress-striped"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                            <p>You can even animate the striped bar. To do so, just add the <code>.uk-active</code> class.</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <div class="uk-progress uk-progress-striped uk-active">
                                <div class="uk-progress-bar" style="width: 85%;"></div>
                            </div>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress uk-progress-striped uk-active"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h3>Combinable</h3>

                            <p>All modifiers of the Progress component can be combined with each other.</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <div class="uk-progress uk-progress-small uk-progress-danger uk-progress-striped uk-active">
                                <div class="uk-progress-bar" style="width: 55%;"></div>
                            </div>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress uk-progress-small uk-progress-danger uk-progress-striped uk-active"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                        </article>

                    </div>





                </div>
            </div>
</div>	
</body>
</html>