<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>进度条-多多前端框架v2.0</title>
	<link rel="stylesheet" href="../css/uikit.docs.min.css">
    <link rel="stylesheet" href="../css/docs.css">
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script src="../js/uikit.js" ></script>
	<script src="../js/highlight.js" ></script>
	<script src="../js/docs.js" ></script>
</head>
<body class="tm-background" >
	 
<div class="tm-middle">
	<div class="uk-container  ">

		<div class="uk-grid" data-uk-grid-margin="">
		 
<div class="tm-main ">

                        <article class="uk-article">

                            <h1 class="uk-article-title">Progress</h1>

                            <p class="uk-article-lead">Defines different styles for progress bars.</p>

                            <h2>用法</h2>
                            <p>The progress bar consists of a background bar and the progress bar itself, indicating the increase.</p>
                            <table class="uk-table">
                                <thead>
                                    <tr>
                                        <th>Class</th>
                                        <th>概述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>.uk-progress</code></td>
                                        <td>This class is used on the parent container to create the background of the progress bar.</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-progress-bar</code></td>
                                        <td>This class needs to be added to the child element to create the actual progress bar.</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <div class="uk-progress">
                                <div class="uk-progress-bar" style="width: 40%;">40%</div>
                            </div>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress-bar"</span> <span class="attribute">style</span>=<span class="value">"width: 40%;"</span>&gt;</span>40%<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>Size modifiers</h2>

                            <p>Add the <code>.uk-progress-mini</code> or <code>.uk-progress-small</code> class to change the size of the bar.</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <div class="uk-progress uk-progress-mini">
                                <div class="uk-progress-bar" style="width: 50%;"></div>
                            </div>

                            <div class="uk-progress uk-progress-small">
                                <div class="uk-progress-bar" style="width: 55%;"></div>
                            </div>

                            <div class="uk-progress">
                                <div class="uk-progress-bar" style="width: 60%;"></div>
                            </div>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress uk-progress-mini"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress uk-progress-small"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>Color modifiers</h2>

                            <p>To apply different colors to your progress bars, just add the <code>.uk-progress-success</code>, <code>.uk-progress-warning</code> or <code>.uk-progress-danger</code> class.</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <div class="uk-progress uk-progress-success">
                                <div class="uk-progress-bar" style="width: 75%;"></div>
                            </div>

                            <div class="uk-progress uk-progress-warning">
                                <div class="uk-progress-bar" style="width: 55%;"></div>
                            </div>

                            <div class="uk-progress uk-progress-danger">
                                <div class="uk-progress-bar" style="width: 35%;"></div>
                            </div>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress uk-progress-success"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress uk-progress-warning"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress uk-progress-danger"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h3>Striped</h3>

                            <p>To create a striped progress bar, use the <code>.striped</code> class.</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <div class="uk-progress uk-progress-striped">
                                <div class="uk-progress-bar" style="width: 65%;"></div>
                            </div>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress uk-progress-striped"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                            <p>You can even animate the striped bar. To do so, just add the <code>.uk-active</code> class.</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <div class="uk-progress uk-progress-striped uk-active">
                                <div class="uk-progress-bar" style="width: 85%;"></div>
                            </div>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress uk-progress-striped uk-active"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h3>Combinable</h3>

                            <p>All modifiers of the Progress component can be combined with each other.</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <div class="uk-progress uk-progress-small uk-progress-danger uk-progress-striped uk-active">
                                <div class="uk-progress-bar" style="width: 55%;"></div>
                            </div>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-progress uk-progress-small uk-progress-danger uk-progress-striped uk-active"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                        </article>

                    </div>





                </div>
            </div>
</div>	
</body>
</html>