<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>搜索-uif前端框架</title>
	<link rel="stylesheet" href="../css/uikit.docs.min.css">
    <link rel="stylesheet" href="../css/docs.css">
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script src="../js/uikit.js" ></script>
	<script src="../js/highlight.js" ></script>
	<script src="../js/docs.js" ></script>
</head>
<body class="tm-background" >
	 
<div class="tm-middle">
	<div class="uk-container  ">

		<div class="uk-grid" data-uk-grid-margin="">
			 
            <div class="tm-main  ">

                        <article class="uk-article">

                            <h1 class="uk-article-title">Search</h1>

                            <p class="uk-article-lead"></p>

                            <p class="uk-article-lead">Easily create a nicely looking search.</p>

                            <h2>用法</h2>

                            <p>The Search component consists of the search field itself and a close button.</p>

                            <table class="uk-table">
                                <thead>
                                    <tr>
                                        <th>Class</th>
                                        <th>概述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>.uk-search</code></td>
                                        <td>Add this class to a <code>&lt;form&gt;</code> element to define the Search component.</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-search-field</code></td>
                                        <td>Add this class to an <code>&lt;input&gt;</code> element to create the search field.</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-search-close</code></td>
                                        <td>Add this class to a <code>&lt;button&gt;</code> element to create a close button, resetting the search input.</td>
                                    </tr>
                                </tbody>
                            </table>

                            <p>To enable the necessary JavaScript for the search, just add the <code>data-uk-search</code> attribute.</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <form class="uk-search" data-uk-search="">
                                <input class="uk-search-field" type="search" placeholder="search...">
                                <button class="uk-search-close" type="reset"></button>
                            </form>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">form</span> <span class="attribute">class</span>=<span class="value">"uk-search"</span> <span class="attribute">data-uk-search</span>&gt;</span>
    <span class="tag">&lt;<span class="title">input</span> <span class="attribute">class</span>=<span class="value">"uk-search-field"</span> <span class="attribute">type</span>=<span class="value">"search"</span> <span class="attribute">placeholder</span>=<span class="value">""</span>&gt;</span>
    <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"uk-search-close"</span> <span class="attribute">type</span>=<span class="value">"reset"</span>&gt;</span><span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;/<span class="title">form</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>Ajax search results</h2>

                            <p>You can use a dropdown from the <a href="dropdown.html">Dropdown component</a> to display search results. Just add <code>{source:'PATH/TO/RESULTS'}</code> to the data attribute and set the path to your search results, which need to be formatted in JSON. This enables the Ajax search and injects a dropdown with the <code>.uk-dropdown-search</code> class displaying the search results. You can even navigate through the dropdown with the up and down keys of your keyboard.</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <form class="uk-search" data-uk-search="{source:'../vendor/searchresults.json'}">
                                <input class="uk-search-field" type="search" placeholder="search...">
                                <button class="uk-search-close" type="reset"></button>
                            </form>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">form</span> <span class="attribute">class</span>=<span class="value">"uk-search"</span> <span class="attribute">data-uk-search</span>=<span class="value">"{source:'my-results.json'}"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">input</span> <span class="attribute">class</span>=<span class="value">"uk-search-field"</span> <span class="attribute">type</span>=<span class="value">"search"</span> <span class="attribute">placeholder</span>=<span class="value">""</span>&gt;</span>
    <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"uk-search-close"</span> <span class="attribute">type</span>=<span class="value">"reset"</span>&gt;</span><span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;/<span class="title">form</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>Search in navbars</h2>

                            <p>A search can be used inside a Navbar from the <a href="navbar.html">Navbar component</a>.</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <nav class="uk-navbar">

                                <div class="uk-navbar-flip">
                                    <div class="uk-navbar-content">
                                        <form class="uk-search" data-uk-search="{flipDropdown:true, source:'../vendor/searchresults.json'}">
                                            <input class="uk-search-field" type="search" placeholder="search...">
                                            <button class="uk-search-close" type="reset"></button>
                                        </form>
                                    </div>
                                </div>

                            </nav>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">nav</span> <span class="attribute">class</span>=<span class="value">"uk-navbar"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-navbar-flip"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-navbar-content"</span>&gt;</span>
            <span class="tag">&lt;<span class="title">form</span> <span class="attribute">class</span>=<span class="value">"uk-search"</span> <span class="attribute">data-uk-search</span>=<span class="value">"{source:'my-results.json'}"</span>&gt;</span>
            ...
            <span class="tag">&lt;/<span class="title">form</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">nav</span>&gt;</span></code></pre>

                        </article>

                    </div>




                </div>
            </div>
</div>	
</body>
</html>