<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>平滑滚动-uif前端框架</title>
	<link rel="stylesheet" href="../css/uikit.docs.min.css">
    <link rel="stylesheet" href="../css/docs.css">
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script src="../js/uikit.js" ></script>
	<script src="../js/highlight.js" ></script>
	<script src="../js/docs.js" ></script>
</head>
<body class="tm-background" >
	 
<div class="tm-middle">
	<div class="uk-container  ">

		<div class="uk-grid" data-uk-grid-margin="">
			 
<div class="tm-main  ">

                        <article class="uk-article">

                            <h1 id="bottom" class="uk-article-title">平滑滚动</h1>

                            <p class="uk-article-lead">用一个漂亮的缓慢滚动效果来增强网站页面跳转时的效果。</p>

                            <h2>用法</h2>

                            <p>逐步减缓页面内从一部分滚动到另一部分的速度，比如滚动到顶部，只需添加 <code>data-uk-smooth-scroll</code> 属性到一个 <code>&lt;a&gt;</code> 元素中。</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <a href="#top" class="uk-button" data-uk-smooth-scroll="">Go Up!</a>

                            <a href="#bottom" class="uk-button" data-uk-smooth-scroll="">Go Down!</a>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#my-id"</span> <span class="attribute">class</span>=<span class="value">"uk-button"</span> <span class="attribute">data-uk-smooth-scroll</span>&gt;</span>...<span class="tag">&lt;/<span class="title">a</span>&gt;</span></code></pre>

                        </article>

                    </div>



                </div>
            </div>
</div>	
</body>
</html>