<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>表格-uif前端框架</title>
	<link rel="stylesheet" href="../css/uikit.docs.min.css">
    <link rel="stylesheet" href="../css/docs.css">
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script src="../js/uikit.js" ></script>
	<script src="../js/highlight.js" ></script>
	<script src="../js/docs.js" ></script>
</head>
<body class="tm-background" >
	 
<div class="tm-middle">
	<div class="uk-container uk-container-center">

		<div class="uk-grid" data-uk-grid-margin="">
			<div class="tm-sidebar uk-width-medium-1-4 uk-hidden-small">  
				<ul class="tm-nav uk-nav" data-uk-nav=""> 
                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">默认</li>
                            <li><a href="normalize.html" title="Normalize component">标准化</a></li>
                            <li ><a href="base.html" title="Base component">基础</a></li>
                            <li ><a href="print.html" title="Print component">打印</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">布局</li>
                            <li ><a href="grid.html" title="Grid component">网格</a></li>
                            <li ><a href="panel.html" title="Panel component">面板</a></li>
                            <li ><a href="article.html" title="Article component">文章</a></li>
                            <li ><a href="comment.html" title="Comment component">评论</a></li>
                            <li><a href="utility.html" title="Utility component">效果</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">导航</li>
                            <li ><a href="nav.html" title="Nav component">导航菜单</a></li>
                            <li><a href="navbar.html" title="Navbar component">导航栏</a></li>
                            <li ><a href="subnav.html" title="Subnav component">子导航</a></li>
                            <li ><a href="breadcrumb.html" title="Breadcrumb component">面包屑</a></li>
                            <li><a href="pagination.html" title="Pagination component">分页</a></li>
                            <li><a href="tab.html" title="Tab component">选项卡</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">元素</li>
                            <li><a href="list.html" title="List component">列表</a></li>
                            <li><a href="description-list.html" title="Description list component">描述列表</a></li>
                            <li class="uk-active"><a href="table.html" title="Table component">表格</a></li>
                            <li><a href="form.html" title="Form component">表单</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">常用</li>
                            <li><a href="button.html" title="Button component">按钮</a></li>
                            <li><a href="icon.html" title="Icon component">图标</a></li>
                            <li><a href="close.html" title="Close component">关闭</a></li>
                            <li><a href="badge.html" title="Badge component">徽章</a></li>
                            <li><a href="alert.html" title="Alert component">提示框</a></li>
                            <li><a href="thumbnail.html" title="Thumbnail component">缩略图</a></li>
                            <li><a href="overlay.html" title="Overlay component">覆盖</a></li>
                            <li><a href="progress.html" title="Progress component">进度条</a></li>
                            <li><a href="search.html" title="Search component">搜索</a></li>
                            <li><a href="text.html" title="Text component">文本</a></li>
                            <li><a href="animation.html" title="Animation component">动画</a></li>

                            <li class="uk-nav-header" style="font-size: 16px;line-height:30px;font-weight: bold;background:#fff;border-bottom:1px solid #e6e6e6">JavaScript</li>
                            <li><a href="dropdown.html" title="Dropdown">下拉菜单</a></li>
                            <li><a href="modal.html" title="Modal component">模态对话框</a></li>
                            <li><a href="offcanvas.html" title="Off-canvas component">弹出式画布</a></li>
                            <li><a href="switcher.html" title="Switcher component">切换器</a></li>
                            <li><a href="toggle.html" title="Toggle component">拨动</a></li>
                            <li><a href="tooltip.html" title="Tooltip component">提示组件</a></li>
                            <li><a href="scrollspy.html" title="Scrollspy component">监听滚动</a></li>
                            <li><a href="smooth-scroll.html" title="Smooth scroll component">平滑滚动</a></li> 
                        </ul>

			</div>
		<div class="tm-main uk-width-medium-3-4">

                        <article class="uk-article">

                            <h1 class="uk-article-title">表格</h1>

                            <p class="uk-article-lead">轻松创建具有不同风格的漂亮的表格。</p>

                            <h2 id="usage"><a href="#usage" class="uk-link-reset">用法</a></h2>

                            <p>要应用这个组件，添加 <code>.uk-table</code> 类到一个 table 元素。由线条分隔表格中的每行。</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <div class="uk-overflow-container">
                                <table class="uk-table">
                                    <caption>Table caption</caption>
                                    <thead>
                                        <tr>
                                            <th>Table Heading</th>
                                            <th>Table Heading</th>
                                            <th>Table Heading</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td>Table Footer</td>
                                            <td>Table Footer</td>
                                            <td>Table Footer</td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                        </tr>
                                        <tr>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                        </tr>
                                        <tr>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">table</span> <span class="attribute">class</span>=<span class="value">"uk-table"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">caption</span>&gt;</span>...<span class="tag">&lt;/<span class="title">caption</span>&gt;</span>
    <span class="tag">&lt;<span class="title">thead</span>&gt;</span>
        <span class="tag">&lt;<span class="title">tr</span>&gt;</span>
            <span class="tag">&lt;<span class="title">th</span>&gt;</span>...<span class="tag">&lt;/<span class="title">th</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">tr</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">thead</span>&gt;</span>
    <span class="tag">&lt;<span class="title">tfoot</span>&gt;</span>
        <span class="tag">&lt;<span class="title">tr</span>&gt;</span>
            <span class="tag">&lt;<span class="title">td</span>&gt;</span>...<span class="tag">&lt;/<span class="title">td</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">tr</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">tfoot</span>&gt;</span>
    <span class="tag">&lt;<span class="title">tbody</span>&gt;</span>
        <span class="tag">&lt;<span class="title">tr</span>&gt;</span>
            <span class="tag">&lt;<span class="title">td</span>&gt;</span>...<span class="tag">&lt;/<span class="title">td</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">tr</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">tbody</span>&gt;</span>
<span class="tag">&lt;/<span class="title">table</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h3>列</h3>

                            <p>要修改列的宽度或内容，你可以使用其他组件。下面是一些实用的例子：</p>

                            <div class="uk-overflow-container">
                                <table class="uk-table">
                                    <thead>
                                        <tr>
                                            <th>样式</th>
                                            <th>概述</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><em>列宽</em></td>
                                            <td>添加一个 <a href="grid.html" title="Grid component">网格组件</a> 中的 <code>.uk-width-*</code> 类。</td>
                                        </tr>
                                        <tr>
                                            <td><em>文本对齐</em></td>
                                            <td>添加 <a href="text.html" title="Text component">文本组件</a> 中的 <code>.uk-text-left</code>，<code>.uk-text-right</code> 或 <code>.uk-text-center</code> 类。</td>
                                        </tr>
                                        <tr>
                                            <td><em>文本样式</em></td>
                                            <td>翻阅一下 <a href="text.html" title="Text component">文本组件</a>。例如添加一个 <code>.uk-text-bold</code> 类。</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <h4 class="tm-article-subtitle">Code.</h4>

<pre><code class="xml"><span class="tag">&lt;<span class="title">td</span> <span class="attribute">class</span>=<span class="value">"uk-width-1-10 uk-text-right"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">td</span>&gt;</span>
<span class="tag">&lt;<span class="title">td</span> <span class="attribute">class</span>=<span class="value">"uk-width-9-10 uk-text-bold"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">td</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h3>垂直修饰类</h3>

                            <p>垂直居中表格内容，只需添加 <code>.uk-table-middle</code> 类到 <code>&lt;tr&gt;</code> 或 <code>&lt;td&gt;</code> 元素。</p>

                            <hr class="uk-article-divider">

                            <h2 id="modifiers"><a href="#modifiers" class="uk-link-reset">修饰</a></h2>

                            <p>若要以不同的风格样式显示表格，只需添加一个修饰类到 <code>.uk-table</code> 类。</p>

                            <h3>表格悬停</h3>

                            <p>添加 <code>.uk-table-hover</code> 类，使表格行显示一个悬停状态。</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <div class="uk-overflow-container">
                                <table class="uk-table uk-table-hover">
                                    <thead>
                                        <tr>
                                            <th>Table Heading</th>
                                            <th>Table Heading</th>
                                            <th>Table Heading</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                        </tr>
                                        <tr>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                        </tr>
                                        <tr>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <h4 class="tm-article-subtitle">Code.</h4>

<pre><code class="xml"><span class="tag">&lt;<span class="title">table</span> <span class="attribute">class</span>=<span class="value">"uk-table uk-table-hover"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">table</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h3>表格条纹</h3>

                            <p>添加 <code>.uk-table-striped</code> 类，为表格应用斑马线条纹状态。</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <div class="uk-overflow-container">
                                <table class="uk-table uk-table-striped">
                                    <thead>
                                        <tr>
                                            <th>Table Heading</th>
                                            <th>Table Heading</th>
                                            <th>Table Heading</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                        </tr>
                                        <tr>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                        </tr>
                                        <tr>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <h4 class="tm-article-subtitle">Code.</h4>

<pre><code class="xml"><span class="tag">&lt;<span class="title">table</span> <span class="attribute">class</span>=<span class="value">"uk-table uk-table-striped"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">table</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h3>紧凑表格</h3>

                            <p>添加 <code>.uk-table-condensed</code> 类使表格单元格更加紧凑。</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <div class="uk-overflow-container">
                                <table class="uk-table uk-table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Table Heading</th>
                                            <th>Table Heading</th>
                                            <th>Table Heading</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                        </tr>
                                        <tr>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                        </tr>
                                        <tr>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <h4 class="tm-article-subtitle">Code.</h4>

<pre><code class="xml"><span class="tag">&lt;<span class="title">table</span> <span class="attribute">class</span>=<span class="value">"uk-table uk-table-condensed"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">table</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h3>组合修饰类</h3>

                            <p>表格组件的修饰类可以相互组合使用。</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <div class="uk-overflow-container">
                                <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Table Heading</th>
                                            <th>Table Heading</th>
                                            <th>Table Heading</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                        </tr>
                                        <tr>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                        </tr>
                                        <tr>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                            <td>Table Data</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <h4 class="tm-article-subtitle">Code.</h4>

<pre><code class="xml"><span class="tag">&lt;<span class="title">table</span> <span class="attribute">class</span>=<span class="value">"uk-table uk-table-hover uk-table-striped uk-table-condensed"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">table</span>&gt;</span></code></pre>

                        </article>

                    </div>





                </div>
            </div>
</div>	
</body>
</html>