<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>提示组件-多多前端框架v2.0</title>
	<link rel="stylesheet" href="../css/uikit.docs.min.css">
    <link rel="stylesheet" href="../css/docs.css">
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script src="../js/uikit.js" ></script>
	<script src="../js/highlight.js" ></script>
	<script src="../js/docs.js" ></script>
</head>
<body class="tm-background" >
	 
<div class="tm-middle">
	<div class="uk-container  ">

		<div class="uk-grid" data-uk-grid-margin="">
			 
      <div class="tm-main  ">

                        <article class="uk-article">

                            <h1 class="uk-article-title">提示组件/Tooltip</h1>

                            <p class="uk-article-lead">轻松创建一个漂亮的提示。</p>

                            <h2>用法</h2>

                            <p>要应用这个组件，需要为某个元素添加 <code>data-uk-tooltip</code> 属性。你还需要添加一个 title 属性，它的值相当于提示组件的提示文本。</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <p>
                                <button class="uk-button" data-uk-tooltip="" title="" data-cached-title="Bazinga!">Hover me</button>
                                <span data-uk-tooltip="" title="" data-cached-title="Bazinga!">Hover me</span>
                            </p>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"uk-button"</span> <span class="attribute">data-uk-tooltip</span> <span class="attribute">title</span>=<span class="value">""</span>&gt;</span>...<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">span</span> <span class="attribute">data-uk-tooltip</span> <span class="attribute">title</span>=<span class="value">""</span>&gt;</span>...<span class="tag">&lt;/<span class="title">span</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>对齐</h2>

                            <p>添加下列选项之一的 <code>data-uk-tooltip</code> 属性来调整提示组件的文本对齐方式。</p>

                            <table class="uk-table">
                                <thead>
                                    <tr>
                                        <th>属性</th>
                                        <th>概述</th>
                                        <th>示例</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>pos:'top'</code></td>
                                        <td>将提示组件对齐到顶部。</td>
                                        <td><button class="uk-button" data-uk-tooltip="{pos:'top'}" title="Bazinga!">Hover me</button></td>
                                    </tr>
                                    <tr>
                                        <td><code>pos:'top-left'</code></td>
                                        <td>将提示组件对齐到左上。</td>
                                        <td><button class="uk-button" data-uk-tooltip="{pos:'top-left'}" title="Bazinga!">Hover me</button></td>
                                    </tr>
                                    <tr>
                                        <td><code>pos:'top-right'</code></td>
                                        <td>将提示组件对齐到右上。</td>
                                        <td><button class="uk-button" data-uk-tooltip="{pos:'top-right'}" title="Bazinga!">Hover me</button></td>
                                    </tr>
                                    <tr>
                                        <td><code>pos:'bottom'</code></td>
                                        <td>将提示组件对齐到底部。</td>
                                        <td><button class="uk-button" data-uk-tooltip="{pos:'bottom'}" title="Bazinga!">Hover me</button></td>
                                    </tr>
                                    <tr>
                                        <td><code>pos:'bottom-left'</code></td>
                                        <td>将提示组件对齐到左下。</td>
                                        <td><button class="uk-button" data-uk-tooltip="{pos:'bottom-left'}" title="Bazinga!">Hover me</button></td>
                                    </tr>
                                    <tr>
                                        <td><code>pos:'bottom-right'</code></td>
                                        <td>将提示组件对齐到右下。</td>
                                        <td><button class="uk-button" data-uk-tooltip="{pos:'bottom-right'}" title="Bazinga!">Hover me</button></td>
                                    </tr>
                                    <tr>
                                        <td><code>pos:'left'</code></td>
                                        <td>将提示组件对齐到左侧。</td>
                                        <td><button class="uk-button" data-uk-tooltip="{pos:'left'}" title="Bazinga!">Hover me</button></td>
                                    </tr>
                                    <tr>
                                        <td><code>pos:'right'</code></td>
                                        <td>将提示组件对齐到右侧。</td>
                                        <td><button class="uk-button" data-uk-tooltip="{pos:'right'}" title="Bazinga!">Hover me</button></td>
                                    </tr>
                                </tbody>
                            </table>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"uk-button"</span> <span class="attribute">data-uk-tooltip</span>=<span class="value">"{pos:'bottom-left'}"</span> <span class="attribute">title</span>=<span class="value">""</span>&gt;</span>...<span class="tag">&lt;/<span class="title">button</span>&gt;</span></code></pre>

                        </article>

                    </div>

                </div>
            </div>
</div>	
</body>
</html>