<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>开始使用-uif前端框架</title>
	<link rel="stylesheet" href="../css/uikit.docs.min.css">
    <link rel="stylesheet" href="../css/docs.css">
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script src="../js/uikit.js" ></script>
	<script src="../js/highlight.js" ></script>
	<script src="../js/docs.js" ></script>
</head>
<body class="tm-background" > 
<div class="tm-middle">
	<div class="uk-container  ">

		<div class="uk-grid" data-uk-grid-margin="">
			 
		 <div class="tm-main  ">

                        <article class="uk-article">

                            <h1 class="uk-article-title">效果</h1>

                            <p class="uk-article-lead">一些实用的效果类集合，用来风格化你的网页内容。</p>

                            <h2>容器</h2>

                            <p>添加 <code>.uk-container</code> 类到一个块元素中，为其设置一个最大宽度并包装你网站的主要内容。对于大屏幕采用不同的最大宽度。</p>

                            <hr class="uk-article-divider">

                            <h3>居中</h3>

                            <p>想要居中这个容器，使用 <code>.uk-container-center</code> 类。对于其它的块元素，你需要设定一个宽度。</p>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <div class="uk-width-medium-1-2 uk-container-center">
                                <div class="uk-panel uk-panel-box uk-panel-box-primary">Centered block element</div>
                            </div>

                            <h4 class="tm-article-subtitle">Code.</h4>

                            <pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-width-medium-1-2 uk-container-center"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>浮动与清除浮动</h2>

                            <p>浮动是创建各式布局的基础。但浮动在最坏的情况下需要清除掉，否则你会得到一个杂乱的页面。下面的类能帮助你设置基础布局。</p>

                            <table class="uk-table">
                                <thead>
                                    <tr>
                                        <th>类</th>
                                        <th>概述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>.uk-float-left</code></td>
                                        <td>浮动元素左对齐。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-float-right</code></td>
                                        <td>浮动元素右对齐。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-clearfix</code></td>
                                        <td>向父容器添加这个类来清除浮动。</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-clearfix"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-float-right"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-float-left"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                            <h3>新的块级格式化范围/New block formatting context</h3>

                            <p>代替使用 <code>.uk-clearfix</code> 类，你可以建立一个新的块级格式化范围来清除浮动。根据你的设置，你可以对其进行评估哪种方式更适合。</p>

                            <table class="uk-table">
                                <thead>
                                    <tr>
                                        <th>类</th>
                                        <th>概述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>.uk-nbfc</code></td>
                                        <td>设置 overflow 为 hidden 来创建一个新的块级格式化范围。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-nbfc-alt</code></td>
                                        <td>设置 display 为 table-cell 来创建一个新的块级格式化范围。</td>
                                    </tr>
                                </tbody>
                            </table>

                            <hr class="uk-article-divider">

                            <h3>图像与对象的对齐方式</h3>

                            <p>对齐图像或其他元素与文本之间的间距。</p>

                            <table class="uk-table">
                                <thead>
                                    <tr>
                                        <th>类</th>
                                        <th>概述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>.uk-align-left</code></td>
                                        <td>向左浮动元素，并创建右侧及底部的间距。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-align-right</code></td>
                                        <td>向右浮动元素，并创建左侧及底部的间距。</td>
                                    </tr><tr>
                                        <td><code>.uk-align-medium-left</code></td>
                                        <td>仅影响宽度 <em>768px</em> 及以上的设备。</td>
                                    </tr>
                                    
                                    <tr>
                                        <td><code>.uk-align-medium-right</code></td>
                                        <td>仅影响宽度 <em>768px</em> 及以上的设备。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-align-center</code></td>
                                        <td>居中对齐元素，并创建底部间距。</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h4 class="tm-article-subtitle">示例</h4>

                                <p class="uk-clearfix"><img class="uk-align-medium-right" src="http://placekitten.com/400/200" alt="Image aligned to the right">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                            <h4 class="tm-article-subtitle">Code.</h4>

<pre><code class="xml"><span class="tag">&lt;<span class="title">p</span> <span class="attribute">class</span>=<span class="value">"uk-clearfix"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">img</span> <span class="attribute">class</span>=<span class="value">"uk-align-medium-right"</span> <span class="attribute">src</span>=<span class="value">""</span> <span class="attribute">alt</span>=<span class="value">""</span>&gt;</span>
    ...
<span class="tag">&lt;/<span class="title">p</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>垂直对齐</h2>

                            <p>垂直对齐对象，你需要为该对象创建一个父容器来与它进行对齐。</p>

                            <table class="uk-table">
                                <thead>
                                    <tr>
                                        <th>类</th>
                                        <th>概述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>.uk-vertical-align</code></td>
                                        <td>向父容器添加这个类。这个容器需要指定一个高度。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-vertical-align-middle</code></td>
                                        <td>向子元素添加这个类，使内容居中对齐。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-vertical-align-bottom</code></td>
                                        <td>向子元素添加这个类，使内容与底部对齐。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-height-1-1</code></td>
                                        <td>这个辅助类适用100％的高度。</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h3 class="tm-article-subtitle">示例</h3>


                            <div class="uk-grid" data-uk-grid-margin="">
                                <div class="uk-width-medium-1-2">

                                    <div class="uk-vertical-align uk-panel uk-panel-box" style="height: 200px;">
                                        <div class="uk-vertical-align-middle uk-width-medium-1-2">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="uk-width-medium-1-2">

                                    <div class="uk-vertical-align uk-panel uk-panel-box" style="height: 200px;">
                                        <div class="uk-vertical-align-bottom uk-width-medium-1-2">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <h3 class="tm-article-subtitle">Code.</h3>

                            <div class="uk-grid" data-uk-grid-margin="">
                                <div class="uk-width-medium-1-2">

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-vertical-align"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-vertical-align-middle"</span>&gt;</span>
    ...
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
</code></pre>

                                </div>
                                <div class="uk-width-medium-1-2">

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-vertical-align"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-vertical-align-bottom"</span>&gt;</span>
    ...
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
</code></pre>

                                </div>
                            </div>

                            <p><span class="uk-badge">注意</span> 需要对齐的对象的宽度或最大宽度要小于其父容器。</p>

                            <h3>居中整个页面</h3>

                            <p>如果你想将 <code>&lt;html&gt;</code> 和 <code>&lt;body&gt;</code> 元素延伸到整个页面高度，<code>.uk-height-1-1</code> 类便派上了用场。创建错误页面时，这是非常有用的。</p>

                            <h4 class="tm-article-subtitle">Code.</h4>

<pre><code class="xml"><span class="tag">&lt;<span class="title">html</span> <span class="attribute">class</span>=<span class="value">"uk-height-1-1"</span>&gt;</span>
    ...
    <span class="tag">&lt;<span class="title">body</span> <span class="attribute">class</span>=<span class="value">"uk-height-1-1"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-vertical-align"</span>&gt;</span>
            <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-vertical-align-middle"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">body</span>&gt;</span>
<span class="tag">&lt;/<span class="title">html</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h3>水平居中</h3>

                            <p> 要水平居中你的网页内容，添加 <code>.uk-text-center</code> 类到父容器并添加 <code>.uk-container-center</code> 类到子元素。这是由于响应式特性而必须这样的。</p>

                            <hr class="uk-article-divider">

                            <h2>响应式对象</h2>

                            <p>默认情况下 UIKit 中的图片会根据它们的父容器宽度来自适应。如果你想将响应式特性应用于媒体元素，比如视频对象，只需要添加一个下面的类。</p>

                            <table class="uk-table uk-table-condensed">
                                <thead>
                                    <tr>
                                        <th class="uk-width-1-4">类</th>
                                        <th class="uk-width-3-4">概述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>.uk-responsive-width</code></td>
                                        <td>根据父容器的宽度调整对象的宽度，保持对象原始的宽高比。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-responsive-height</code></td>
                                        <td>根据父容器的高度调整对象的高度，保持对象原始的宽高比。</td>
                                    </tr>
                            </tbody></table>

                            <h3 class="tm-article-subtitle">宽度示例</h3>

                            <p><video controls="" class="uk-responsive-width" width="600" height="350"></video></p>

                            <h3 class="tm-article-subtitle">高度示例</h3>

                            <p style="height: 100px;"><img class="uk-responsive-height" src="http://placekitten.com/400/200"></p>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">video</span> <span class="attribute">controls</span> <span class="attribute">class</span>=<span class="value">"uk-responsive-width"</span>&gt;</span><span class="tag">&lt;/<span class="title">video</span>&gt;</span>

<span class="tag">&lt;<span class="title">img</span> <span class="attribute">class</span>=<span class="value">"uk-responsive-height"</span> <span class="attribute">src</span>=<span class="value">""</span> <span class="attribute">alt</span>=<span class="value">""</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>外边距/Margin</h2>

                            <p>添加一个下面的类来调整块元素的外边距。</p>

                            <table class="uk-table uk-table-condensed">
                                <thead>
                                    <tr>
                                        <th class="uk-width-1-4">类</th>
                                        <th class="uk-width-3-4">概述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>.uk-margin</code></td>
                                        <td>为一个段落添加相同的顶部和底部外边距。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-margin-top</code></td>
                                        <td>添加顶部外边距。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-margin-bottom</code></td>
                                        <td>添加底部外边距。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-margin-left</code></td>
                                        <td>添加左侧外边距。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-margin-right</code></td>
                                        <td>添加右侧外边距。</td>
                                    </tr>
                                </tbody>
                            </table>

                            <hr class="uk-article-divider"> 

                            <h3>较小的外边距</h3>

                            <p>使用一个下面的类来为块元素添加较小的外边距。</p>

                            <table class="uk-table uk-table-condensed">
                                <thead>
                                    <tr>
                                        <th class="uk-width-1-4">类</th>
                                        <th class="uk-width-3-4">概述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>.uk-margin-small-top</code></td>
                                        <td>添加较小的顶部外边距。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-margin-small-bottom</code></td>
                                        <td>添加较小的底部外边距。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-margin-small-left</code></td>
                                        <td>添加较小的左侧外边距。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-margin-small-right</code></td>
                                        <td>添加较小的右侧外边距。</td>
                                    </tr>
                                </tbody>
                            </table>

                            <hr class="uk-article-divider"> 

                            <h3>移除外边距</h3>

                            <p>添加一个下面的类来移除块元素的外边距</p>

                            <table class="uk-table uk-table-condensed">
                                <thead>
                                    <tr>
                                        <th class="uk-width-1-4">类</th>
                                        <th class="uk-width-3-4">概述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>.uk-margin-remove</code></td>
                                        <td>移除全部外边距。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-margin-top-remove</code></td>
                                        <td>移除顶部外边距。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-margin-bottom-remove</code></td>
                                        <td>移除底部外边距。</td>
                                    </tr>
                                </tbody>
                            </table>

                            <hr class="uk-article-divider">

                            <h2>自动外边距</h2>

                            <p>要添加堆叠元素的间距，将示例中的内联元素包裹在较小的视口中，只需添加 <code>data-uk-margin</code> 属性到它们的父容器。它会自动在底部的元素中添加 <code>.uk-margin-small-top</code> 类。</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <p class="uk-width-1-2" data-uk-margin="">
                                <button class="uk-button">Button</button>
                                <button class="uk-button">Button</button>
                                <button class="uk-button">Button</button>
                                <button class="uk-button">Button</button>
                                <button class="uk-button">Button</button>
                                <button class="uk-button">Button</button>
                                <button class="uk-button uk-margin-small-top">Button</button>
                                <button class="uk-button uk-margin-small-top">Button</button>
                                <button class="uk-button uk-margin-small-top">Button</button>
                                <button class="uk-button uk-margin-small-top">Button</button>
                            </p>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">p</span> <span class="attribute">data-uk-margin</span>&gt;</span>
    <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"uk-button"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
    <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"uk-button"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;/<span class="title">p</span>&gt;</span></code></pre>

                            <p><span class="uk-badge">注意</span> 默认情况下，数据属性添加 <code>.uk-margin-small-top</code> 类到堆叠​​元素。要应用一个更大的间距，只需添加 <code>{cls:'.uk-margin-top'}</code> 选项。</p>

                            <hr class="uk-article-divider">

                            <h2>大标题</h2>

                            <p>为了增大平板电脑和台式机下标题字体的大小，只需添加 <code>.uk-heading-large</code> 类。</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <h1 class="uk-heading-large">Heading</h1>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">h1</span> <span class="attribute">class</span>=<span class="value">"uk-heading-large"</span>&gt;</span>...<span class="tag">&lt;<span class="title">h1</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>链接静音</h2>

                            <p>如果要去掉链接的默认颜色，只需添加 <code>.uk-link-muted</code> 类到锚元素或父元素。</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <h2 class="uk-link-muted"><a href="">Heading</a></h2>

                            <ul class="uk-list uk-width-medium-1-4 uk-link-muted">
                                <li><a href="">Link</a></li>
                                <li><a href="">Link</a></li>
                                <li><a href="">Link</a></li>
                            </ul>

                            <h3 class="tm-article-subtitle">Code.</h3>

<pre><code class="xml"><span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">"uk-link-muted"</span>&gt;</span>...<span class="tag">&lt;<span class="title">a</span>&gt;</span>

<span class="tag">&lt;<span class="title">h1</span> <span class="attribute">class</span>=<span class="value">"uk-link-muted"</span>&gt;</span><span class="tag">&lt;<span class="title">a</span>&gt;</span>...<span class="tag">&lt;<span class="title">a</span>&gt;</span><span class="tag">&lt;<span class="title">h1</span>&gt;</span>

<span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"uk-link-muted"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span>&gt;</span>...<span class="tag">&lt;<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span>&gt;</span>...<span class="tag">&lt;<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span>&gt;</span>...<span class="tag">&lt;<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>可滚动的预格式化文本</h2>

                             <p>添加 <code>.uk-scrollable-text</code> 类设置一个最大高度，并提供一个垂直滚动条。这对预格式化的文本是非常有用的，它可以让你的代码块节省更多的空间。</p>

                             <h3 class="tm-article-subtitle">示例</h3>

<pre class="uk-scrollable-text"><code class="xml"><span class="comment">&lt;!-- This is sample code to demonstrate preformatted text with a scrollbar. --&gt;</span>

<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-grid"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-width-medium-1-2"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-panel uk-panel-box uk-text-left"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-width-medium-1-2"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-panel uk-panel-box uk-text-right"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-grid"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-width-medium-1-2"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-panel uk-panel-box uk-text-center"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-width-medium-1-2"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-panel uk-panel-box uk-text-justify"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>

<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-grid"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-width-medium-1-2"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-panel uk-panel-box uk-text-break"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-width-medium-1-2"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-panel uk-panel-box"</span>&gt;</span><span class="tag">&lt;<span class="title">p</span> <span class="attribute">class</span>=<span class="value">"uk-margin-remove uk-text-truncate"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">p</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>可滚动的盒子</h2>

                            <p>添加 <code>.uk-scrollable-box</code> 类创建一个具有最大高度及垂直滚动条的面板状盒子。它可以包含任何类型的内容。</p>

                            <h3 class="tm-article-subtitle">示例</h3>

                            <div class="uk-scrollable-box uk-width-medium-1-3">
                                <ul class="uk-list">
                                    <li><label><input type="checkbox"> Category 1</label></li>
                                    <li>
                                        <label><input type="checkbox"> Category 2</label>
                                        <ul>
                                            <li><label><input type="checkbox"> Category 2.1</label></li>
                                            <li><label><input type="checkbox"> Category 2.2</label></li>
                                            <li>
                                                <label><input type="checkbox"> Category 2.3</label>
                                                <ul>
                                                    <li><label><input type="checkbox"> Category 2.3.1</label></li>
                                                    <li><label><input type="checkbox"> Category 2.3.2</label></li>
                                                </ul>
                                            </li>
                                            <li><label><input type="checkbox"> Category 2.4</label></li>
                                        </ul>
                                    </li>
                                    <li><label><input type="checkbox"> Category 3</label></li>
                                    <li><label><input type="checkbox"> Category 4</label></li>
                                </ul>
                            </div>

                            <h4 class="tm-article-subtitle">Code.</h4>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-scrollable-box"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"uk-list"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">label</span>&gt;</span><span class="tag">&lt;<span class="title">input</span> <span class="attribute">type</span>=<span class="value">"checkbox"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">label</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
        <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">label</span>&gt;</span><span class="tag">&lt;<span class="title">input</span> <span class="attribute">type</span>=<span class="value">"checkbox"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">label</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">ul</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h2>显示效果</h2>

                            <p>添加这些类中的一个改变元素的 display 属性。</p>

                            <table class="uk-table uk-table-condensed">
                                <thead>
                                    <tr>
                                        <th class="uk-width-1-4">类</th>
                                        <th class="uk-width-3-4">概述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>.uk-display-block</code></td>
                                        <td>强制将元素改变成块元素。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-display-inline</code></td>
                                        <td>强制将元素改变成内联元素。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-display-inline-block</code></td>
                                        <td>强制将元素改变成内联块元素</td>
                                    </tr>
                                </tbody>
                            </table>

                            <hr class="uk-article-divider">

                            <h2>可见性效果</h2>

                            <table class="uk-table uk-table-condensed">
                                <thead>
                                    <tr>
                                        <th class="uk-width-1-4">类</th>
                                        <th class="uk-width-3-4">概述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>.uk-hidden</code></td>
                                        <td>在所有设备上隐藏该元素。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-visible-hover</code></td>
                                        <td>悬停时通过 <code>display: block</code> 来显示隐藏的内容。将这个类添加到父元素中。</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-visible-hover-inline</code></td>
                                        <td>悬停时通过 <code>display: inline-block</code> 来显示隐藏的内容。将这个类添加到父元素中。</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h4 class="tm-article-subtitle">示例</h4>

                            <div class="uk-visible-hover-inline uk-margin">Hover me... <div class="uk-hidden">Bazinga!</div></div>

                            <h4 class="tm-article-subtitle">Code.</h4>

<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-visible-hover"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"uk-hidden"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>

                            <hr class="uk-article-divider">

                            <h3>响应式可见性</h3>

                            <p>你可以在特定的视口宽度下对内容进行显示或隐藏。通过设置断点变量可以很容易的进行修改。 Since the line between different device sizes keeps blurring, class names are kept general and do not refer to particular devices.</p>

                            <table class="uk-table uk-table-line">
                                <thead>
                                    <tr>
                                        <th class="uk-width-1-4">类</th>
                                        <th class="uk-width-1-4">小 <small>(手机)</small><br><small style="font-weight: normal;">最大 767</small></th>
                                        <th class="uk-width-1-4">中 <small>(平板)</small><br><small style="font-weight: normal;">768 到 959</small></th>
                                        <th class="uk-width-1-4">大 <small>(桌面)</small><br><small style="font-weight: normal;">960 及以上</small></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>.uk-visible-small</code></td>
                                        <td class="uk-text-success">可见</td>
                                        <td class="uk-text-muted">隐藏</td>
                                        <td class="uk-text-muted">隐藏</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-visible-medium</code></td>
                                        <td class="uk-text-muted">隐藏</td>
                                        <td class="uk-text-success">可见</td>
                                        <td class="uk-text-muted">隐藏</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-visible-large</code></td>
                                        <td class="uk-text-muted">隐藏</td>
                                        <td class="uk-text-muted">隐藏</td>
                                        <td class="uk-text-success">可见</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-hidden-small</code></td>
                                        <td class="uk-text-muted">隐藏</td>
                                        <td class="uk-text-success">可见</td>
                                        <td class="uk-text-success">可见</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-hidden-medium</code></td>
                                        <td class="uk-text-success">可见</td>
                                        <td class="uk-text-muted">隐藏</td>
                                        <td class="uk-text-success">可见</td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-hidden-large</code></td>
                                        <td class="uk-text-success">可见</td>
                                        <td class="uk-text-success">可见</td>
                                        <td class="uk-text-muted">隐藏</td>
                                    </tr>
                                </tbody>
                            </table>

                        </article>

                    </div>
</div>	
</div>
</div>
</body>
</html>